@CHARSET "UTF-8";

.browserBar {
	margin: 4px 8px;
	font-weight: bold;
	height: 27px;
}

.browserBar>span {
	margin-top: 2px;
}

.browserBar .title {
	font-weight: normal;
}

x.browserBar .ui-button {
	float: right;
}

#screenContainer .browserBar a {
	zoom: 1.3;
	-moz-transform: scale(1.3);
	-moz-transform-origin: 0 0;
}

#functionPanelContainer .browserBar a {
	zoom: 1.3;
	-moz-transform: scale(1.3);
	-moz-transform-origin: 0 0;
}

.browserBar .ui-button span.ui-button-text {
	padding: 0 4px 0 24px;
}

.browserBar .ui-button span.ui-button-icon-primary {
	left: 4px;
}

.buttonSettings {
	width: 200px;
	min-height: 22px;
	height: 22px;
	max-height: 150px;
	position: absolute;
	background: white;
	overflow: hidden;
}

.buttonSettings.settingsHeader {
	cursor: pointer;
}

.buttonSettingsForm {
	height: 114px;
}

.buttonSettingsPlaceholder {
	width: 204px;
	float: right;
}

.colorSelectorPanel {
	padding: 4px;
	display: inline-block;
	position: absolute;
}

.colorSelectorPanel div {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: solid 1px black !important;
}

.colorSelector {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: solid 1px black !important;
}

#screenAddItemForm {
	height: 100%;
}

#screen_AddItem {
	height: 100%;
}

#screenAddItemDialog {
	overflow: hidden;
}

#screenAddGroupForm {
	height: 100%;
}

#screen_AddGroup {
	height: 100%;
}

#screenAddGroupDialog {
	overflow: hidden;
}

.screenImages td {
    border: black solid 1px;
    height: 100px;
    width: 100px;
    padding: 1px;
    text-align: center;
}

.screenImages th {
    border: black solid 1px;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

#functionPanelAddItemForm {
	height: 100%;
}

#functionPanel_AddItem {
	height: 100%;
}

#functionPanelAddItemDialog {
	overflow: hidden;
}

#functionPanelAddGroupForm {
	height: 100%;
}

#functionPanel_AddGroup {
	height: 100%;
}

#functionPanelAddGroupDialog {
	overflow: hidden;
}

.buttonDecoration {
	position: absolute;
	bottom: 0;
	height: auto !important;
	min-height: 0 !important;
	width: auto !important;
	min-width: 0 !important;
	padding: 0 3px !important;
}

.buttonDecoration.left {
	left: 0;
}

.buttonDecoration.right {
	right: 0;
}

.cashier #screenGroups {
	width: 614px;
	max-width: 614px;
	height: 54px;
	max-height: 54px;
}

.cashier #screenItems {
	width: 614px;
	max-width: 614px;
	height: 658px;
	max-height: 658px;
}

.vending #screenGroups {
	display: none;
}

.vending #screenItems {

}

.foodservice #screenGroups {

}

.foodservice #screenItems {

}

#screenItems, .aerispanel-display-normal {
	text-transform: uppercase;
	font-family: 'DejaVuSansBook', sans-serif;
	font-size: 13px;
}

#screenGroups, .aerispanel-display-bold {
	font-family: 'DejaVuSansBold', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#screenGroups .selected {
	font-style: italic;
}

#screenContainer {
	xdisplay: table-cell;
}

#screenProperties {
	xdisplay: table-cell;
	xwidth: 1000px;
}

#screenPage {
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#screenPage > * {
	display: inline-block;
	padding-left: 6px;
	vertical-align: top;
}

.screenToolbar > * {
	float: left;
	padding: 4px;
	font-size: 85%;
}

.screenToolbar * {
	vertical-align: middle;
}

.screenToolbar {
	margin: 4px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.screenToolbar label {
	display: block;
	font-size: 60%;
}

#screenEditContainer {
	margin: 4px;
	padding: 4px;
	font-size: 85%;
}

#functionPanelItems {
	text-transform: uppercase;
	font-family: 'DejaVuSansBook', sans-serif;
	font-size: 12px;
}

#functionPanelGroups {
	font-family: 'DejaVuSansBold', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#functionPanelGroups .selected {
	font-style: italic;
}

#functionPanelContainer {
	xdisplay: table-cell;
	width:250px;
}

#functionPanelProperties {
	xdisplay: table-cell;
	xwidth: 1000px;
}

#functionPanelPage {
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#functionPanelPage > * {
	display: inline-block;
	padding-left: 6px;
	vertical-align: top;
}

.functionPanelToolbar > * {
	float: left;
	padding: 4px;
	font-size: 85%;
}

.functionPanelToolbar * {
	vertical-align: middle;
}

.functionPanelToolbar {
	margin: 4px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.functionPanelToolbar label {
	display: block;
	font-size: 60%;
}

#functionPanelEditContainer {
	margin: 4px;
	padding: 4px;
	font-size: 85%;
}

.functionPanelInactive {
    color: #bbb;
}

.functionPanelTooltip, .ui-tooltip {
    z-index: 5000 !important;
    position: absolute;
}

.editNone {
	font-style: italic;
	opacity: 0.8;
	text-align: center;
}





/*****************************************
 ****** temporary fix for modifiers ******
 *****************************************/

#modifierItems {
	margin: 4px;
	overflow-x: none;
	overflow-y: auto;
	min-height: 400px;
	clear: both;
}

#modifierItems div,
#modifierItems .posButton {
	height: 60px;
	margin: 2px;
	background: #e95925;
	border: 0px solid black;
	min-height: 50px;
	min-width: 50px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: white;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-bottom: 2px solid #fdf8f2;
	border-right: 2px solid #fdf8f2;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipses;
	cursor: pointer;
}

#modifierItems div.posPlaceholder,
#modifierItems .posButton.posPlaceholder {
	background: white;
}

#modifierItems div.selected,
#modifierItems .posButton.selected {
	-moz-border-top-colors: #42210b #fdf8f2 !important;
	-moz-border-right-colors: #42210b #fdf8f2 !important;
	-moz-border-bottom-colors: #42210b #fdf8f2 !important;
	-moz-border-left-colors: #42210b #fdf8f2 !important;
	border: 5px solid;
	height: 52px;
}

#modifierItems .ui-state-hover {
    background: #fbec88 !important;
}

#modifierBar .ui-button {
	float: right;
}

#modifierBar .screenCellHover {
	background: #fbec88;
}

#modifierTable tr {
	height: 68px;
}

#modifierItems .screenItem {
	position: relative;
}

#mdockGroups div.selected,
#mdockGroups .posButton.selected {
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
}

.modifierForm legend {
	font-weight: bold;
}

.modifierForm fieldset {
	padding: 1em;
	margin-top: 6px
}

.modifierForm label {
	float:left;
	width:30%;
	margin-right:0.5em;
	padding-top:0.2em;
	text-align:right;
}

#fpanelButtons {
	width: 6em;
}

#fpanelButtons .button {
	float: left;
	clear: both;
}

#fpanelButtons .button .ui-icon {
	zoom: 2.0;
	left: 0.2em;
}

#fpassign .stitle {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
