/* .eeChartHeader */
.ui-button-icon-only .ui-button-text {
	display: none;
}

/* .eeChartHeader */
.ui-button-icon-only {
	width: auto;
}

/* .eeChartHeader */
.ui-button-icon-only .ui-icon {
	top: auto;
	left: auto;
	position: static;
	margin-left: 0;
	margin-top: 0;
}

#dashboard_charts_container {
	width: 100%;
	height: 100%;
}

#dashboard_charts {
	clear: both;
	padding: 0;
	min-height: 300px;
	height: 100%;
}

#dashboard_left {
	display: inline-block;
	width: 64%;
	margin: 0;
	margin-right: 4px;
	height: 100%;
	min-height: 300px;
	vertical-align: top;
}

#dashboard_right {
	display: inline-block;
	width: 35%;
	margin: 0;
	height: 100%;
	min-height: 300px;
	vertical-align: top;
}

#dashboard_spacer {
	width: 100%;
	height: 100px;
}

.eeChartContainer {
	margin-bottom: 4px;
}

.eeChartWindow {
	xwidth: 100%;
	border: 2px solid #e8e7e7;
	font-size: 14px;
	font-weight: bold;
	background-color: white;
}

.eeChartHeader {
	background-color: #e8e7e7;
	vertical-align: middle;
	cursor: move;
}

.eeChartButtonsLeft, .eeChartButtonsRight {
	display: inline-block;
}

.eeChartButtonsLeft {
	float: left;
}

.eeChartButtonsRight {
	float: right;
}

.eeChartArea {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

.eeChartResize {
	width: 100%;
}

.eeChartResize .ui-icon {
	margin-left: auto;
	margin-right: auto;
}

.eeLocked .ui-resizable-s, .eeLocked .eeChartHeader {
	cursor: default;
}

.eeChart span {
	text-align: center;
	vertical-align: middle;
}

.eeTable {
	overflow: auto;
}

.eeChart {
	height: 100%;
}

.eeTable {
	height: 96%;
	width: 96%;
	position: relative;
	top: 2%;
	left: 2%;
	font-size: 0.85em;
}

#dashboard_header,
#dashboardMenu-menu {
	font-size: 0.8em;
}

#dashboardTitle {
	display: inline-block;
}

#dashboardButtons {
	float: right;
}

#dashboard_header {
	text-align: left;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

#dashboard_message {
	text-align: center;
}

#saveChartFrame {
	z-index: 100;
}

.eeChart {
	z-index: 10;
}

.ui-corner-top-left {
	border-top-right-radius: 0;
}

.ui-fixed-bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
}

.dropdownMenu {
	position: absolute;
	xborder: solid 1px #4297d7;
	z-index: 500;
	xbackground: white;
}

.ui-hidden {
	display: none;
}

.dropdownMenu ul {
	margin: 0.1em;
	padding: 0;
	padding-top: 6px;
}

.xdropdownMenu li {
	display: block;
	list-style: none;
	padding: 0.1em;
	border: solid 2px #e8e7e7;
	cursor: pointer;
}

.ui-position-hidden {
	position: absolute;
	left: -99999px;
}

.shareList {
	display: inline-block;
	width: 50%;
	float: left;
	border: solid 1px black;
	height: 99%;
	overflow: auto;
}

.shareList ul {
	margin: 4px;
	padding: 0;
}

.shareList li {
	list-style: none;
}

.userList {
	display: inline-block;
	width: 48%;
	margin-left: 1%;
	float: left;
}

.ui-tooltip-content {
	font-size: 80%;
}

.ui-tooltip-content .ttTitle {
	font-size: 110%;
	font-weight: bold;
}

.ui-tooltip-content .ttBody {
	border-top: solid 1px black;
	padding-top: 3px;
}

.valignMiddle * {
	vertical-align: middle;
}
