/* 
    Document   : manage
    Created on : May 24, 2012, 4:20:42 PM
    Author     : ofus
    Description:
        Purpose of the stylesheet follows.
*/

table.client {
	border: 2px solid #eaeaea;
	background-color: #ffffff;
	width: 100%;
}

.client thead {
	font-weight: bold;
	text-align: center;
	background-color: #EAEAEA;
	color: black;
}

.client thead th {
	background-color: #EAEAEA;
	text-align: center;
}

.client thead.sub {
	background-color: #EAEAEA;
	font-style: italic;
}

.clickable {
	cursor: hand;
}

.highlight {
	background-color: #ffff99;
}

table.add_schedule {
	width:						400px;
	margin-top:					20px;
	font-size:					.9em;
}

