/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
	background-color: #848388 !important;
    border: 1px solid;
    color: white !important;
    -moz-appearance: none;
    -moz-border-top-colors: #848388 #bebebe;
    -moz-border-right-colors: #848388 #bebebe;
    -moz-border-bottom-colors: #848388 #bebebe;
    -moz-border-left-colors: #848388 #bebebe;
}

.product-button-color-1 {
	background-color: #fb3833 !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #fb3833;
    -moz-border-bottom-colors: #fb3833;
    -moz-border-left-colors: #fb3833;
    -moz-border-right-colors: #fb3833;
}

.product-button-color-2 {
	background-color: #b10833 !important;
    border: 1px solid black;
    color: white !important;
    -moz-appearance: none;
    -moz-border-top-colors: #b10833 #bebebe;
    -moz-border-right-colors: #b10833 #bebebe;
    -moz-border-bottom-colors: #b10833 #bebebe;
    -moz-border-left-colors: #b10833 #bebebe;
}

.product-button-color-3 {
	background-color: #ffa500 !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #ffa500 #bebebe;
    -moz-border-right-colors: #ffa500 #bebebe;
    -moz-border-bottom-colors: #ffa500 #bebebe;
    -moz-border-left-colors: #ffa500 #bebebe;
}

.product-button-color-4 {
	background-color: #f5fc72 !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #f5fc72 #bebebe;
    -moz-border-right-colors: #f5fc72 #bebebe;
    -moz-border-bottom-colors: #f5fc72 #bebebe;
    -moz-border-left-colors: #f5fc72 #bebebe;
}

.product-button-color-5 {
	background-color: #3980f4 !important;
    border: 1px solid black;
    color: white !important;
    -moz-appearance: none;
    -moz-border-top-colors: #3980f4 #bebebe;
    -moz-border-right-colors: #3980f4 #bebebe;
    -moz-border-bottom-colors: #3980f4 #bebebe;
    -moz-border-left-colors: #3980f4 #bebebe;
}

.product-button-color-6 {
	background-color: #9fedfd !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #9fedfd #bebebe;
    -moz-border-right-colors: #9fedfd #bebebe;
    -moz-border-bottom-colors: #9fedfd #bebebe;
    -moz-border-left-colors: #9fedfd #bebebe;
}

.product-button-color-7 {
	background-color: #009600 !important;
    border: 1px solid black;
    color: white !important;
    -moz-appearance: none;
    -moz-border-top-colors: #009600 #bebebe;
    -moz-border-right-colors: #009600 #bebebe;
    -moz-border-bottom-colors: #009600 #bebebe;
    -moz-border-left-colors: #009600 #bebebe;
}

.product-button-color-8 {
	background-color: #5bf834 !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #5bf834 #bebebe;
    -moz-border-right-colors: #5bf834 #bebebe;
    -moz-border-bottom-colors: #5bf834 #bebebe;
    -moz-border-left-colors: #5bf834 #bebebe;
 }

.product-button-color-9 {
	background-color: #938dfc !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #938dfc #bebebe;
    -moz-border-right-colors: #938dfc #bebebe;
    -moz-border-bottom-colors: #938dfc #bebebe;
    -moz-border-left-colors: #938dfc #bebebe;
}

.product-button-color-10 {
	background-color: #fdb9e3 !important;
    border: 1px solid black;
    color: black !important;
    -moz-appearance: none;
    -moz-border-top-colors: #fdb9e3 #bebebe;
    -moz-border-right-colors: #fdb9e3 #bebebe;
    -moz-border-bottom-colors: #fdb9e3 #bebebe;
    -moz-border-left-colors: #fdb9e3 #bebebe;
}

.product-button-color-11 {
	background-color: #805400 !important;
    border: 1px solid black;
    color: white !important;
    -moz-appearance: none;
    -moz-border-top-colors: #805400 #bebebe;
    -moz-border-right-colors: #805400 #bebebe;
    -moz-border-bottom-colors: #805400 #bebebe;
    -moz-border-left-colors: #805400 #bebebe;
}
