.settingsContainer, .settingsTable {
	margin: 0.8em;
	position: relative;
}

.settingsContainer {
	border: solid 1px black;
}

.settingsContainer:first-child,
.settingsTable:first-child {
	margin-top: 0.4em;
}

.settingsHeader {
	padding-left: 0.4em;
	padding-right: 0.4em;
	border: solid 1px black;
	background-color: #999999;
	font-weight: bold;
}

.settingsHeaderText {
	color: white;
}

.settingsForm {
	border: solid 1px black;
	padding: 0.4em;
	margin: 0;
}

.settingsColumn {
        width: 33%;
        float: left;
}

.settingsThird {
	width: 33%;
	display: table-cell;
	border: solid 2px black;
}

.settingsThird .settingsHeader {
	border: none;
	border-bottom: solid 2px black;
}

.settingsThird .settingsForm {
	border: none;
}

.settingsRow {
	display: table-row;
}

.settingsTable {
	display: table;
	border-collapse: collapse;
	border: solid 2px black;
}

.settingsItem {
	font-size: 80%;
	white-space: nowrap;
	clear: both;
	display: inline-block;
}

.settingsItem label {
	white-space: normal;
	display: inline-block;
	padding-right: 0.6em;
}

.settingsItem input[type=checkbox] {
	float: left;
	margin: 0;
}

.settingsContainer input[type=text],
.settingsContainer select {
	margin-right: 0.4em;
}

.settingsContainer .settingsNospace {
	margin: 0;
}

.settingsTable .settingsItem {
	width: 100%;
}

.settingsHeaderTable {
    border: solid 1px black;
    border-collapse: collapse;
}

.settingsHeaderTable th {
    border: solid 1px black;
    background-color: #dfeffc;
    font-weight: bold;
    color: #2e6e9e;
    padding: 3px;
}

.settingsHeaderTable td {
    border: solid 1px black;
    text-align: center;
}

.infoTable {
	width: 100%;
}

.infoTable tr {
	vertical-align: top;
}

.infoTable td:first-child {
	width: 40%;
}

.infoTable thead td {
	font-weight: bold;
	border-bottom: solid 1px black;
}

.infoTable tbody td {
	font-size: 80%;
}

.infoTable tbody td span {
	font-size: 80%;
}

.itemListColumn {
	display: inline-block;
	height: 100%;
	width: 44%;
	position: absolute;
	top: 0;
}

.itemListGutter {
	display: inline-block;
	height: 100%;
	width: 10%;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -5%;
	vertical-align: middle;
	text-align: center;
	/*padding-top: 24px;*/
}

.itemListGutter span {
	margin-top: 4px;
}

.itemListLeft {
	left: 0;
}

.itemListRight {
	right: 0;
}

.itemListHeader {
	height: 24px;
}

.itemListFilter {
	position: absolute;
	left: 0;
	top: 0;
}

.itemListFilterReset {
	position: absolute;
	top: 0;
	right: 0;
}

.itemListSelect {
	position: absolute;
	bottom: 0;
	left: 0;
}

.spinner {
	position: absolute;
}

.ui-button-thin {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.ui-button-thin span {
	padding: 0 !important;
	margin: 0 !important;
}

.ui-button-icon-only .ui-button-text {
	display: none;
}

.ui-button-icon-only {
	width: auto;
	padding: 1px;
}

.ui-button-icon-only .ui-icon {
	top: auto;
	left: auto;
	position: static;
	margin-left: 0;
	margin-top: 0;
}

.inputWatermark {
	color: #aaaaaa;
	font-weight: normal !important;
	font-style: italic;
}

input.ui-corner-left,
input.ui-corner-all,
.ui-button-thin.ui-corner-left,
.ui-button-thin.ui-corner-all {
	padding-left: 2px;
}

input.ui-corner-right,
input.ui-corner-all,
.ui-button-thin.ui-corner-right,
.ui-button-thin.ui-corner-all {
	padding-right: 2px;
}

.ui-autocomplete .ui-menu-item a {
	line-height: normal !important;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 10pt;
}

.ui-autocomplete {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.itemSelectContainer {
	position: relative;
	top: -2px;
	float: right;
}

.itemSelectContainer input {
	position: absolute;
	top: 0;
	left: 0;
}

.itemSelectContainer .ui-button {
	position: absolute;
	top: 0;
	right: 0;
}

.far-left {
	position: absolute !important;
	left: -99999px;
}

.bigSpinner {
	position: absolute;
	top: 30%;
}

.bigSpinnerLeft {
	left: 25%;
	margin-left: -33px;
}

.bigSpinnerRight {
	right: 25%;
	margin-right: -33px;
}

.bigSpinnerCenter {
	left: 50%;
	margin-left: -33px;
	top: 50%;
	margin-top: -33px;
}

div.fieldset {
	position: relative;
	padding-top: 12px;
	padding-bottom: 8px;
}

div.fieldset span.header,
div.fieldset span.legend {
	font-size: 70%;
	position: absolute;
	top: -12px;
}

div.fieldset span.header {
	width: 84%;
	left: 50%;
	margin-left: -43%;
}

div.fieldset span.legend {
	left: 0;
	margin-left: 12px;
}

div.fieldset span * {
	vertical-align: middle;
}

.divList div {
	display: inline-block;
	width: 47%;
	margin: 1%;
	position: relative;
	line-height: 20px;
	font-size: 80%;
}

.divList div span.remove {
	position: absolute;
	right: 0;
	top: 0;
}

.divList div * {
	vertical-align: middle;
}

.ui-combo-watermark {
	font-style: italic;
	color: grey;
	font-weight: normal !important;
}

.promoInactive {
	background-color: #aaaaaa;
}

.controlTable {
	font-size: 80%;
}

.controlTable thead tr td {
	border-bottom: solid 1px black;
	font-weight: bold;
}

.controlTable tbody tr td span {
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
	border: solid 1px black;
	background: #DFEFFC;
	color: #2E6E9E;
}

.nowrap {
	white-space: nowrap;
}