@CHARSET "UTF-8";

body {
	font-size: 22pt;
}

/* spacing-friendly defaults */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

div {
	height: 100%;
}

.far-left {
	position: absolute;
	left: -99999px;
}

.vcontainer5,
.vcontainer05 { height: 5%; }
.vcontainer10 { height: 10%; }
.vcontainer15 { height: 15%; }
.vcontainer20 { height: 20%; }
.vcontainer25 { height: 25%; }
.vcontainer30 { height: 30%; }
.vcontainer35 { height: 35%; }
.vcontainer40 { height: 40%; }
.vcontainer45 { height: 45%; }
.vcontainer50 { height: 50%; }
.vcontainer55 { height: 55%; }
.vcontainer60 { height: 60%; }
.vcontainer65 { height: 65%; }
.vcontainer70 { height: 70%; }
.vcontainer75 { height: 75%; }
.vcontainer80 { height: 80%; }
.vcontainer85 { height: 85%; }
.vcontainer90 { height: 90%; }
.vcontainer95 { height: 95%; }

.hcontainer5,
.hcontainer05 { width: 5%; }
.hcontainer10 { width: 10%; }
.hcontainer15 { width: 15%; }
.hcontainer20 { width: 20%; }
.hcontainer25 { width: 25%; }
.hcontainer30 { width: 30%; }
.hcontainer35 { width: 35%; }
.hcontainer40 { width: 40%; }
.hcontainer45 { width: 45%; }
.hcontainer50 { width: 50%; }
.hcontainer55 { width: 55%; }
.hcontainer60 { width: 60%; }
.hcontainer65 { width: 65%; }
.hcontainer70 { width: 70%; }
.hcontainer75 { width: 75%; }
.hcontainer80 { width: 80%; }
.hcontainer85 { width: 85%; }
.hcontainer90 { width: 90%; }
.hcontainer95 { width: 95%; }

.hcontainer5, .hcontainer05, .hcontainer10, .hcontainer15, .hcontainer20, .hcontainer25, .hcontainer30, 
.hcontainer35, .hcontainer40, .hcontainer45, .hcontainer50, .hcontainer55, .hcontainer60, .hcontainer65, 
.hcontainer70, .hcontainer75, .hcontainer80, .hcontainer85, .hcontainer90, .hcontainer95 {
	height: 100%;
	float: left;
}

/* menu list */
.menuList {
	line-height: 200%;
	padding: 0.4em 1em;
}

.ui-menulist {
	z-index: 100;
	position: relative;
}

.ui-menulist li {
	list-style: none;
	position: relative;
}

.ui-menulist li span {
	position: absolute;
	top: 0;
	right: 0;
}

.ui-menuhighlight {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.ui-menudetail {
	position: relative;
	font-size: 110%;
	line-height: 200%;
	padding: 0.4em 1em;
}

.ui-menudetail div {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}



/* image scroller */
.imageScroller {
	position: relative;
	overflow: hidden;
}

.ui-imagescroller {
	white-space: nowrap;
	position: absolute;
	top: 0;
	left: 0;
}

.ui-imagecontainer {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.ui-imagescroller img {
	
}

/* image fader */
.imageFader {
	position: relative;
	overflow: hidden;
}

.ui-imagefader .ui-imagecontainer {
	position: absolute;
	top: 0;
	left: 0;
}

/* box */
.box {
	height: 100%;
	width: 100%;
}