

pre {
	margin: 1em;
	outline: 1px solid orange;
	text-align: left;
}

pre pre {
	outline: 1px solid blue;
	text-align: left;
}

body {
	margin: 0;
	padding: 0;
}

.page_wrapper .flash_debug,
.page_wrapper .flash_error,
.page_wrapper .flash_message,
#page_wrapper .flash_debug,
#page_wrapper .flash_error,
#page_wrapper .flash_message
{
	background-color: #ffe0e0;
	border: 1px solid #f00;
	margin: 1em auto;
	padding: 3px;
	text-align: center;
	width: 78%;
}
.page_wrapper .flash_debug,
#page_wrapper .flash_debug {
	background-color: #e0e0ff;
	border: 1px solid #00f;
	margin: 1em;
	text-align: left;
	width: auto;
}
.page_wrapper .flash_message,
#page_wrapper .flash_message {
	background-color: #e0ffe0;
	border: 1px solid #0f0;
}
.page_wrapper .flash_debug ul,
.page_wrapper .flash_error ul,
.page_wrapper .flash_message ul,
#page_wrapper .flash_debug ul,
#page_wrapper .flash_error ul,
#page_wrapper .flash_message ul
{
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.company_view #header
{
	margin: 8px 0 0;
}

.unit_menu a.item {
	color: #00f;
}

.unit_menu a.item span {
	color: #999;
}

.unit_menu a.item:hover span {
	color: #f90;
}

.unit_menu a.current_page span {
	color: #f00;
}



div.button {
	text-align: center;
}

*[align=right] {
	text-align: right;
}


table.tabbed .left_corner,
table.tabbed .label,
table.tabbed .right_corner
{
	background-color: #ccc;
	vertical-align: top;
}

table.tabbed .current_tab
{
	background-color: #e8e7e7;
}

table.tabbed .left_corner,
table.tabbed .right_corner
{
	width: 6px;
}

table.tabbed .left_corner
{
	text-align: left;
}

table.tabbed .label
{
	text-align: center;
}

table.tabbed .right_corner
{
	text-align: right;
}


table.tabbed .left_corner img,
table.tabbed .right_corner img
{
	border: 0 none;
}

table.tabbed .label a,
table.tabbed .label a:hover
{
	color: #00f;
	text-decoration: none;
}

table.tabbed .current_tab.label a,
table.tabbed .current_tab.label a:hover
{
	color: #000;
}


form.delete_item {
	display: inline;
}

button.delete_item {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

.divTable {
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
	width: 100%;
}

.divTableCell {
	display: table-cell;
	width: auto;
	vertical-align: top;
	zoom: 1;
}

.navPanel {
	border: 2px solid #CCCCCC;
	background: white;
}

.navPanelTitle {
	background: #CCCCCC;
	width:100%;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}

#headerMessage {
	float: right;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	font-weight: bold;
}

table.sortable thead td {
	cursor: pointer;
}


td.delete_button {
	text-align: center;
}

td.delete_button form {
	line-height: 0;
	margin: 0;
	padding: 0;
}

button.delete_button {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
/*
*/
}

a img {
	border: 0 none;
}

.menu_items_new_requires_activation {
    color: red;
    font-size: .90em;
}

.forecast2-table-header { border: 1px solid black; width: 50px; } 
.forecast2-cell-value { border: 1px solid black; width: 50px; } 