<table cellspacing='0' cellpadding='0' border='0' width='100%'>
	<tr bgcolor='#F6F9FA'>
		<td colspan='2' align='right'>&nbsp;</td>
	</tr>
	<tr style='height: 1px; background-color: black; vertical-align: top;'>
		<td colspan='2'>
			<img src='/assets/images/spacer.gif' alt='' />
		</td>
	</tr>
	
	<tr valign=top bgcolor=#E8E7E7>
		<td width=10% rowspan=3>
			&nbsp;
		</td>
		<td width=90%>
			<table cellpadding="0" cellspacing="0" width="85%">
				<tr>
					<td valign="top">
						<h2>Adjustments</h2>
						<table cellspacing=5 cellpadding=1 width="100%">
							<tr bgcolor=#999999>
								<td>
									<form action="adjustments?cid=<?php echo $companyid; ?>" method="POST">
										<input type=hidden name=show value=1>
										<font color=white>&nbsp;From</font> <input name="date1" type="text" size="8" class="datepicker" value=<?php echo $date1; ?>>
										<font color=white>to</font>
										<input name="date2" type="text" size="8" class="datepicker" value=<?php echo $date2; ?>>
										<?php echo $filter; ?>
										<input type=submit value='GO'>
									</form>
								</td>
							</tr>
							<tr>
								<td><p>
									<?php echo $report; ?>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	<tr bgcolor=#E8E7E7>
		<td>
			<p>
			<form action='/ta/posreport.php' method='post' style="margin:0;padding:0;display:inline;">
				<input type=hidden name=download_data value="<?php echo $download_data; ?>">
				<input type=submit value='Download' style="border: 1px solid #999999; font-size: 10px; background-color:#CCCCCC;" />
			</form>
		</td>
	</tr>
	<tr valign="bottom" bgcolor="#E8E7E7">
		<td align="right">
			&nbsp;
		</td>
	</tr>
</table>