<table cellspacing='0' cellpadding='0' border='0' width='100%'>
	<tr bgcolor='#F6F9FA'>
		<td colspan='2' align='right'>&nbsp;</td>
	</tr>
	<tr style='height: 1px; background-color: black; vertical-align: top;'>
		<td colspan='2'>
			<img src='/assets/images/spacer.gif' alt='' />
		</td>
	</tr>
	
	<tr valign=top bgcolor=#E8E7E7>
		<td width=10% rowspan=3>
			&nbsp;
		</td>
		<td width=90%>
			<table cellpadding="0" cellspacing="0" width="85%">
				<tr>
					<td valign="top">
						<h2>Customer Search</h2>
						<table cellspacing=5 cellpadding=1 width="100%">
							<tr>
								<td><center><table width=95% cellspacing=0 cellpadding=0 style="border:2px solid #999999;" bgcolor=#999999><tr><td>
									<form action=customerSearch?cid=<?php echo $companyId; ?> method=post>
										<select name=search_what>
											<option value=username>Email</option>
											<option value=scancode <?php echo $sel1; ?> >Scancode</option>
											<option value=first_name <?php echo $sel2; ?> >First Name</option>
											<option value=last_name <?php echo $sel3; ?> >Last Name</option>
										</select>
										<input type=text size=35 name=search_for value=<?php echo $search_for; ?>>
										<input type=submit value='SEARCH' style="border:1px solid #777777;background-color:#E8E7E7;font-size:12px;">
									</form></td></tr></table></center>
									<p>
									<?php echo $myform; ?>
									<p>
									<div id='adJs'>
									<?php echo $adjForm; ?>
									<p>
									<?php echo $adjustmentForm; ?>
									<p>
									</div>
									<?php echo $transList; ?>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	
	<tr valign="bottom" bgcolor="#E8E7E7">
		<td align="right">
			&nbsp;
		</td>
	</tr>
</table>

