<div class='navPanelTitle'>Vending Machines</div>

<center>
	<table width="98%">
		<tr valign="top">
			<td width="20%">
				<ul id='vMachList'>
<?php
						// TODO use the models for this
						$query = "USE mburris_manage";
						$result = Treat_DB_ProxyOld::query_both( $query );
						
						$query = "SELECT * FROM client_programs WHERE businessid = $businessid AND db_name = '".\EE\Config::singleton()->get('db', 'database')."'";
						$result = Treat_DB_ProxyOld::query( $query );
						
						while ( $r = mysql_fetch_array( $result ) ) {
							$client_programid = $r["client_programid"];
							$client_name = $r["name"];
							
?>
					<li class="vmach" id="<?php echo $client_programid; ?>"
						onmouseover="this.style.cursor='pointer';"
						onclick="update_vmach(<?php echo $client_programid, ',', $businessid; ?>);"
					><?php echo $client_name; ?></li>
<?php
						}
?>
				</ul>
			</td>
			<td>
				<ul id='vMachDetails'><br>

				</ul>
			</td>
		</tr>
	</table>
</center>