<?php

$user = $_SESSION->getUser();
$cid = $user->company_id;
$bid = $user->business_id;

echo "company: $cid<br />\n";
echo "business: $bid<br />\n";

?>

<h1>Programs</h1>
<hr />

<ul>
	<?php foreach ($programs as $program) : ?>
	<li><a href="/participation/show?ppid=<?=$program->id?>"><?=$program->name?></a></li>
	<?php endforeach; ?>
</ul>

