<?php
Treat_Controller_Abstract::addJavascript( '/assets/js/jquery-1.4.3.min.js' );
Treat_Controller_Abstract::addJavascript(
	null
	,'
$(document).ready(function(){
//	$(document).focus();
	$("#username").focus();
});
	'
);
/*
$javascript[] = '<script type="text/javascript" src="/assets/js/jquery-1.4.3.min.js"></script>';
$javascript[] = '<script type="text/javascript">
$(document).ready(function(){
//	$(document).focus();
	$("#username").focus();
});
		</script>';
*/

$header = '<br /><br /><br /><br />';

$footer = '
		<div style="font-size: .8em; text-align: center;">
			<div>
				<a href="/legal.htm"
					target="_blank"
					style="color: #00f;"
				>Copyright &copy; 2010 Essential Elements</a>
			</div>
			<div style="font-size: .75em">
				(Click on the link to review the policy statement.)
			</div>
		</div>
';
?>
		<table width="50%" style="margin: 0 auto;">
			<tr>
				<td style="text-align: center;">
						<img src="/assets/images/login.jpg" width="80" height="75" alt="Treat America logo" />
						<div>&nbsp;<br /></div>
						<img src="/assets/images/logo.jpg" width="205" height="43" alt="Essential Elements logo" />
				</td>
				<td>
					<h2 style="text-align: center;">Login</h2>
					<form action="<?php echo $form_action; ?>" method="post" id="login">
						<table border="0" style="margin: 0 auto;">
							<tr>
								<td align="right">Username: </td>
								<td><input type="text" name="username" id="username" size="20" /></td>
							</tr>
							<tr>
								<td align="right">Password: </td>
								<td><input type="password" name="password" id="password" size="20" /></td>
							</tr>
							<tr>
								<td align="right"></td>
								<td>
									<select name="login_goto" style="width: 145px">
										<option value="">&nbsp;</option>
										<option value="1">Expense Report</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div style="text-align: center;">
										<input type="submit" value='   Login   ' />
									</div>
									<div>&nbsp;<br /></div>
									<a href="/sendpass.htm"
										style="text-decoration: none; color: #00f;"
									>Forgot Your Password?</a>
								</td>
							</tr>
						</table>
						<br />
					</form>
				</td>
			</tr>
		</table>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>
		<p>&nbsp;<br /></p>

