			<table cellspacing='0' cellpadding='0' border='0' width='100%'>
				<tr bgcolor='#E8E7E7'>
					<td colspan='2' align='right'>&nbsp;</td>
				</tr>
				<tr style='height: 1px; background-color: black; vertical-align: top;'>
					<td colspan='2'>
						<img src='/assets/images/spacer.gif' alt='' />
					</td>
				</tr>
				<tr bgcolor='#E8E7E7'>
					<td colspan='2'>
						<br />
						<table width='99%' cellspacing='0' cellpadding='0' style='margin-left: auto; margin-right: auto;'>
							<tr bgcolor='#E8E7E7' valign='top' id='content'>
								<td width='24px'>
									<div class="slidenavPanel">
<?php
	Ta_BusinessmenusController::slidenavLinks( $navLinks );
?>
									</div>
								</td>
								<td width=2%>&nbsp;</td>
								<td>
<?php
	Ta_BusinessmenusController::slidenavPanels( $navLinks );
?>
									<br />
								</td>
							</tr>
						</table>
						<p></p>
					</td>
				</tr>
			</table>
