#loading {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}
#overlay {
	background-color: #000000;
	bottom: 0;
	left: 0;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}

#message {
	background-color: white;
	border: 2px solid black;
	border-radius: 15px;
	font-family: Geneva,Arial,Helvetica,sans-serif;
	height: 48px;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 200px;
	z-index: 1;
}

#message img {
	display: inline-block;
	margin: 5px;
}

#payment-detail-all {  } 

#pd-received-amount { margin: 10px 0px 0px 50px; width: 150px; }
#pd-received-amount-1 { float: left; margin: 10px; }
#pd-received-amount-2 { float: left; margin: 10px; }
#pd-received-amount-3 { margin: 10px 0px 0px 50px; width: 750px; float: left; display: none; }
#pd-received-amount-4 { margin: 10px 0px 0px 50px; width: 750px; float: left; }

#checkdetail-common-items-purchased-1 { margin: 10px; float: left; clear: both; }

.ccip-4-a { text-align: center; font-size: 11pt; }

#checkdetail-common-items-purchased-2 { margin: 10px; float: left; clear: both; }
#ccip-0-title { width: 175px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-1-title { width: 685px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-2-title { width: 100px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-3-title { width: 100px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-3a-title { width: 125px; border: 1px solid black; font-weight: bold; text-align: center; }
#ccip-4-title { width: 100px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-5-title { width: 175px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-5a-title { width: 125px; border: 1px solid black; font-weight: bold; text-align: center; }
#ccip-6-title { width: 125px; border: 1px solid black; font-weight: bold; text-align: center; } 
#ccip-7-title { width: 125px; border: 1px solid black; font-weight: bold; text-align: center; }

#popular-promos { margin: 10px 0px 0px 50px; width: 300px; float: left; clear: both; }
#popular-three-dollar-items { margin: 10px 0px 0px 50px; float: left; clear: both; }

#pdra-1-title { text-align: center; width: 125px; border: 1px solid black; }
#pdra-2-title { text-align: center; width: 100px; border: 1px solid black; }
#pdra-3-title { text-align: center; width: 150px; border: 1px solid black; }
#pdra-4-title { text-align: center; width: 100px; border: 1px solid black; }
#pdra-5-title { text-align: center; width: 100px; border: 1px solid black; }
#pdra-6-title { text-align: center; width: 100px; border: 1px solid black; }

#pp-1a-title { border-bottom: 1px solid black; width: 75px; } 
#pp-1b-title { border-bottom: 1px solid black; width: 125px; } 
#pp-1c-title { border-bottom: 1px solid black; } 
#pp-1d-title { border-bottom: 1px solid black; } 

#ptdi-1a-title { border: 1px solid black; width: 60px; text-align: center; } 
#ptdi-1b-title { border: 1px solid black; width: 70px; text-align: center; } 
#ptdi-1c-title { border: 1px solid black; width: 185px; text-align: center; } 
#ptdi-1d-title { border: 1px solid black; width: 100px; text-align: center; } 
#ptdi-1e-title { border: 1px solid black; width: 50px; text-align: center; } 
#ptdi-1f-title { border: 1px solid black; width: 50px; text-align: center; } 
#ptdi-1g-title { border: 1px solid black; width: 50px; text-align: center; } 
#ptdi-1h-title { border: 1px solid black; width: 50px; text-align: center; } 
#ptdi-1i-title { border: 1px solid black; width: 50px; text-align: center; } 
#ptdi-1j-title { border: 1px solid black; width: 65px; text-align: center; } 

.pdra2-data-1 { text-align: center; }
.pdra2-data-2 { text-align: center; }
.pdra2-data-3 { text-align: center; }
.pdra2-data-4 { text-align: center; }
.pdra2-data-5 { text-align: center; }
.pdra2-data-6 { text-align: center; }

.pdra-1 { text-align: center; border-right: 1px solid black; }
.pdra-2 { text-align: center; }
.pdra-3 { text-align: right; width: 90px; }
.pdra-3-a { text-align: center; }

.pp-1 {  }
.pp-1a { padding-right: 20px; }
.pp-1b {  }
.pp-1c { text-align: left; width: 200px; } 
.pp-1d { text-align: center; } 

.pp-2a { padding-right: 20px; }

.ptdi-data { border: 1px solid black; padding-right: 10px; }
.ptdi-2-data { border: 1px solid black; padding-left: 9px; }

#cluster-3 {   }
