<?php
        $query = "SELECT id, date1 FROM useLoseHistory WHERE businessid = $businessid AND 
					DATE(date2) = '$t_date1' 
					ORDER BY date2
					LIMIT 1";
        $result = Treat_DB_ProxyOldProcessHost::query( $query );

		$startdate = @mysql_result($result, 0 , "date1");
		
		$query = "SELECT id, date2 FROM useLoseHistory WHERE businessid = $businessid AND 
					DATE(date2) = '$t_date2' 
					ORDER BY date2 DESC
					LIMIT 1";
        $result = Treat_DB_ProxyOldProcessHost::query( $query );
		
		$enddate = @mysql_result($result, 0, "date2");
		
		if($startdate != "" && $enddate != ""){
			echo "Report is for $startdate to $enddate";
		}

        ?>
        <table class="sortable" style="border:1px solid black;background-color:white;font-size:12px;" cellspacing=0 cellpadding=1 width=98%>
		<thead>
            <tr bgcolor=#FFFF99>
                <td style="border:1px solid black;">Scancode</td>
                <td style="border:1px solid black;">Last Name</td>
				<td style="border:1px solid black;">First Name</td>
                <td style="border:1px solid black;">Value Added</td>
				<td style="border:1px solid black;">Value Used</td>
				<td style="border:1px solid black;">Value Removed</td>
            </tr>
        </thead>
        <tbody>
        
		<?php
		if($enddate == "" || $startdate == ""){
			echo "<tr><td colspan=7 style=\"border:1px solid black;\">No Data Found</td></tr>";
		}
		else{
			if($businessid == 1380){
				$cfv = " ,cfv.value ";
				$cfq = "LEFT JOIN pd_portal.CustomFieldValue cfv ON cfv.CustomerId = c.customerid";
			}
			else{
				$cfv = "";
				$cfq = "";
			}
		
			$query = "SELECT c.customerid,
								c.first_name,
								c.last_name,
								c.scancode
								$cfv
							FROM customer c
							JOIN business b ON b.businessid = c.businessid
							$cfq
							WHERE c.businessid = $businessid
							GROUP BY c.customerid";
			$result = Treat_DB_ProxyOldProcessHost::query( $query );
			
			while($r = mysql_fetch_array($result)){
				$customerid = $r["customerid"];
				$first_name = $r["first_name"];
				$last_name = $r["last_name"];
				$scancode = $r["scancode"];
				$cf_value = $r["value"];
				
				///company cash positive
				$query3 = "SELECT SUM(chargetotal) AS coCash, count(id) AS charges FROM customer_transactions 
					WHERE customer_id = $customerid 
						AND date_created BETWEEN '$startdate' AND '$enddate' 
						AND trans_type_id = 9
						AND chargetotal > 0
					GROUP BY customer_id";
				$result3 = Treat_DB_ProxyOldProcessHost::query($query3);

				$coCashPos = @mysql_result($result3, 0, 'coCash');
				$idCount = @mysql_result($result3, 0, 'charges');
				
				if($coCashPos > 0){
					///company cash negative
					$query3 = "SELECT SUM(chargetotal) AS coCash, count(id) AS charges FROM customer_transactions 
						WHERE customer_id = $customerid 
							AND date_created BETWEEN '$startdate' AND '$enddate' 
							AND trans_type_id = 9
							AND chargetotal < 0
						GROUP BY customer_id";
					$result3 = Treat_DB_ProxyOldProcessHost::query($query3);

					$coCashNeg = @mysql_result($result3, 0, 'coCash');
					$idCount += @mysql_result($result3, 0, 'charges');

					if($idCount > 0){	
						$coCashPos = number_format($coCashPos, 2);
						$coCashNeg = number_format($coCashNeg, 2);

						$used = number_format($coCashPos + $coCashNeg, 2);

						$totalremoved += $coCashNeg;
						$totalused += $used;
						$totalstart += $coCashPos;

						echo "<tr bgcolor=$bgcolor><td style=\"border:1px solid black;\">$scancode</td>
							<td style=\"border:1px solid black;\">$last_name</td>
							<td style=\"border:1px solid black;\">$first_name</td>
							<td style=\"border:1px solid black;\" align=right>$coCashPos</td>
							<td style=\"border:1px solid black;\" align=right>$used</td>
							<td style=\"border:1px solid black;\" align=right>$coCashNeg</td></tr>";

						$download_data .= "$scancode,\"$last_name\",\"$first_name\",$coCashPos,$used,$coCashNeg,$cf_value\r\n";
					}
				}
			}
		}
		?>
			
		</tbody>
		<tfoot>
			<tr bgcolor=#FFFF99>
				<td colspan=3 style="border:1px solid black;">
					&nbsp;
				</td>
				<?php
					$totalused = number_format($totalused, 2);
					$totalremoved = number_format($totalremoved, 2);
					$totalstart = number_format($totalstart, 2);
					
					echo "<td style=\"border:1px solid black;\" align=right>$totalstart</td>
						<td style=\"border:1px solid black;\" align=right>$totalused</td>
						<td style=\"border:1px solid black;\" align=right>$totalremoved</td>
					";
				?>
			</tr>
		</tfoot>
		</table>
