<?php
        $query = "SELECT scancode, username, first_name, last_name, balance
					FROM customer WHERE businessid = $businessid AND scancode NOT IN ('','-1')
					ORDER BY last_name, first_name";
        $result = Treat_DB_ProxyOldProcessHost::query( $query );

        ?>
        <table class="sortable" style="border:1px solid black;background-color:white;font-size:12px;" cellspacing=0 cellpadding=1 width=98%>
		<thead>
            <tr bgcolor=#FFFF99>
                <td style="border:1px solid black;">Account#</td>
                <td style="border:1px solid black;">Last Name</td>
				<td style="border:1px solid black;">First Name</td>
                <td style="border:1px solid black;">Email</td>
				<td style="border:1px solid black;">Last Used</td>
				<td style="border:1px solid black;">Balance</td>
            </tr>
        </thead>
        <tbody>
        
        <?php
            while($r = mysql_fetch_array($result)){
                $scancode = $r["scancode"];
				$last_name = $r["last_name"];
				$first_name = $r["first_name"];
				$email = $r["username"];
				$total += $r["balance"];
				$balance = number_format($r["balance"], 2);
				
				if(substr($scancode, 0, 3) == '780' || substr($scancode, 0, 3) == '770' || substr($scancode, 0, 3) == '790' || $businessid == '1552'){
					$query2 = "SELECT checks.bill_datetime FROM checks
						JOIN payment_detail pd ON pd.check_number = checks.check_number 
							AND pd.businessid = checks.businessid
						WHERE pd.scancode = '$scancode'
						ORDER BY checks.bill_datetime DESC
						LIMIT 1";
					$result2 = Treat_DB_ProxyOldProcessHost::query( $query2 );
					
					$lastused = @mysql_result($result2,0,"bill_datetime");
				}
				else{
					$lastused = '';
				}
				
				$download_data .= "$scancode,\"$last_name\",\"$first_name\",\"$email\",\"$lastused\",\"$balance\"\r\n";
                
                echo "<tr onMouseOver=this.bgColor='#CCCCCC' onMouseOut=this.bgColor=''>
                        <td style=\"border:1px solid black;\">&nbsp;$scancode</td>
                        <td style=\"border:1px solid black;\">&nbsp;$last_name</td>
                        <td style=\"border:1px solid black;\">&nbsp;$first_name</td>
						<td style=\"border:1px solid black;\">&nbsp;$email</td>
						<td style=\"border:1px solid black;\">&nbsp;$lastused</td>
						<td style=\"border:1px solid black;\" align=right>$$balance &nbsp;</td>
                     </tr>";
            }
			
			$total = number_format($total, 2);
        ?>
        
        </tbody>
        <tfoot> 
			<tr bgcolor="#E8E7E7">
				<td style="border:1px solid black;" colspan=5>&nbsp;</td>
				<td style="border:1px solid black;" align=right><?php echo "$" . $total; ?>&nbsp;&nbsp;</td>	
			</tr>
        </tfoot>
        </table>
