<?php
	require('lib/inc/functions-inventory.php');
	use EE\Model\AbstractModel\Treat;
	
	$date1 = '0000-00-00';
	$date2 = '0000-00-00';

	$getInventoryItems = "SELECT inv_itemid, item_name FROM inv_items WHERE inv_itemid > 0 AND businessid = $businessid ORDER BY item_name ASC";
	//$result = Treat_DB_ProxyOldProcessHost::query( $getInventoryItems );
	
	$items_sold_array = array();
	$hour_num = 13;
	$hour_num = array(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24);
	//$hour_num = array(0,1,2,3,4,5,6,7,8,9);
	while($r = mysql_fetch_array($result)){
		
		$inv_itemid = $r['inv_itemid'];
		$item_name = $r['item_name'];
		
		foreach ($hour_num as $value1){
			$total_sold = inventory_quantity($businessid, $inv_itemid, $date1, $date2, $value1);
			foreach($total_sold as $key=>$value){
				if ($total_sold[$key] != 0){
					$items_sold_array[$item_name][$value1] = array('hour_of_day' => $value1 , 'item_name' => $item_name , 'item_number' => $inv_itemid , 'total_sold' => $total_sold[$key]);
				} else {
					$total_sold[$key] = 0;
					$items_sold_array[$item_name][$value1] = array('hour_of_day' => $value1 , 'item_name' => $item_name , 'item_number' => $inv_itemid , 'total_sold' => $total_sold[$key]);
				}
			}
			
		}
		//echo "<br>";
		//$items_sold_imploded = implode(",", $items_sold_array[$item_name][$value1]['total_sold']);
		//echo $item_name . " -- " . $items_sold_imploded . "<br>";
		//var_dump($items_sold_array);

	}
	
	//var_dump($items_sold_array);
	?>
	<table class="sortable" style="border:1px solid black;font-size:12px;background-color:white;" cellspacing=0 cellpadding=1 width=98%>
	<tr bgcolor=#FFFF99>
		<td class="forecast2-table-header">Item Name</td>
		<?php 
		foreach (range(0, 23) as $hour_num0) {
			?><td class="forecast2-table-header">Hour <?php echo $hour_num0; ?></td><?php
		}
		?></tr><?php

	foreach ($items_sold_array as $itemname=>$hour){
		?><tr><td class="forecast2-cell-value"><?php echo $itemname; ?></td><?php 
		foreach (range(0, 23) as $hour_num1) {
			?>
			<td class="forecast2-cell-value">
				<?php 
					if ($hour[$hour_num1]['total_sold']){
						echo $hour[$hour_num1]['total_sold'];
						$amount = $hour[$hour_num1]['total_sold'];
					} else {
						echo '0';
						$amount = 0;
					}
					//$query1 = "insert ignore into forecast_data_4 (businessid, item_name, date, hour, amount) values ('$businessid', '$itemname', '2015-02-05', '$hour_num1', '$amount')";
					//echo $query1;
					//Treat_DB_ProxyOld::query( $query1 );
				?>
			</td>
			<?php 
		}
		?></tr><?php
	}


?>
</table>