<?php
	$query = "SELECT * FROM useLoseHistory WHERE businessid = $businessid AND DATE(date2) >= '$t_date1' AND DATE(date2) <= '$t_date2' ORDER BY date1 ASC";
    $result = Treat_DB_ProxyOldProcessHost::query( $query );
	
	?>
		<table class="sortable" style="border:1px solid black;background-color:white;font-size:12px;" cellspacing=0 cellpadding=1 width=98%>
		<thead>
            <tr bgcolor=#FFFF99>
                <td style="border:1px solid black;">Period#</td>
                <td style="border:1px solid black;">Start Date</td>
				<td style="border:1px solid black;">End Date</td>
                <td style="border:1px solid black;">Amount Reloaded</td>
				<td style="border:1px solid black;">Amount Used</td>
				<td style="border:1px solid black;">Status</td>
            </tr>
        </thead>
        <tbody>
	<?php
	
	while($r = mysql_fetch_array($result)){
		$id = $r["id"];
		$startdate = $r["date1"];
		$enddate = $r["date2"];
		$verified = $r["verified"];
		$amountLoaded = $r["amountLoaded"];
		$amountSpent = $r["amountSpent"];
		
		if($verified == 2){
			$status = "<img src='/ta/greendot.gif'>";
		}
		else{
			$status = "<img src='/assets/images/ajax-loader-redmond.gif'>";
		}
		
		$totalLoaded += $amountLoaded;
		$totalSpent += $amountSpent;
		
		$amountLoaded = number_format($amountLoaded, 2);
		$amountSpent = number_format($amountSpent, 2);
		
		echo "<tr>
				<td style=\"border:1px solid black;\" align=right>$id&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$startdate&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$enddate&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$$amountLoaded&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$$amountSpent&nbsp;</td>	
				<td style=\"border:1px solid black;\" align=right>$status&nbsp;</td>
			</tr>";
	}
	echo "</tbody><tfoot>";

	$totalLoaded = number_format($totalLoaded, 2);
	$totalSpent = number_format($totalSpent, 2);
	
	echo "<tr bgcolor=#FFFF99>
				<td style=\"border:1px solid black;\" align=right>&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$$totalLoaded&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>$$totalSpent&nbsp;</td>
				<td style=\"border:1px solid black;\" align=right>&nbsp;</td>
			</tr>";
	
	echo "</tfoot></table>";

?>