<?php
	$date = $t_date1;
	$today = $t_date2;
	$date2 = date( "Y-m-d" );
	
	echo "<table class=\"sortable\" style=\"border:1px solid black;font-size:12px;background-color:white;\" cellspacing=0 cellpadding=1 width=98%>";
	echo "<thead><tr bgcolor=#FFFF99><td style=\"border:1px solid black;\" width=25%>Item Code</td><td style=\"border:1px solid black;\" width=25%>Item</td><td style=\"border:1px solid black;\" width=25%>Qty</td><td style=\"border:1px solid black;\" width=25%>Amount</td></thead><tbody>";

	$download_data .= "Item Code,Item,Qty,Cost\r\n";
	
	$totalAmt = 0;
	$totalQty = 0;
	
	if($ordertype > 0){
		$whereQry = "AND min.ordertype = $ordertype";
	}
	else{
		$whereQry = "";
	}
	
	$query = "SELECT min.item_code, min.name, sum(mis.qty) AS qty, sum(mis.amount) AS amount
			FROM menu_items_new min
			JOIN menu_item_shrink mis ON mis.menu_item_id = min.id AND mis.date BETWEEN '$date' AND '$today'
			WHERE min.businessid = $businessid $whereQry
			GROUP BY min.id
			ORDER BY min.item_code";
	$result = Treat_DB_ProxyOld::query( $query );
	
	while($r = mysql_fetch_array($result)){
		$item_code = $r["item_code"];
		$name = $r["name"];
		$qty = $r["qty"];
		$amount = $r["amount"];
		
		$qty = round($qty);
		
		$totalQty += $qty;
		$totalAmt += $amount;
		
		echo "<tr onMouseOver=this.bgColor='#CCCCCC' onMouseOut=this.bgColor=''><td style=\"border:1px solid black;\">&nbsp;$item_code</td><td style=\"border:1px solid black;\">&nbsp;$name</td><td style=\"border:1px solid black;\" align=right>$qty&nbsp;</td><td style=\"border:1px solid black;\" align=right>$$amount&nbsp;</td></tr>";
		$download_data .= "$item_code,\"$name\",$qty,$amount\r\n";
	}
	
	echo "</tbody><tfoot><tr bgcolor=#FFFF99><td style=\"border:1px solid black;\" colspan=2>&nbsp;Totals</td><td style=\"border:1px solid black;\" align=right>$totalQty&nbsp;</td><td style=\"border:1px solid black;\" align=right>$$totalAmt&nbsp;</td></tr></tfoot></table>";
?>