<script type="text/javascript">
function submit2(){
	return confirm('Are you sure you wish to copy the selected items to the new unit?');
}
</script>

<table cellspacing='0' cellpadding='0' border='0' width='100%'>
	<tr bgcolor='#F6F9FA'>
		<td colspan='2' align='right'>&nbsp;</td>
	</tr>
	<tr style='height: 1px; background-color: black; vertical-align: top;'>
		<td colspan='2'>
			<img src='/assets/images/spacer.gif' alt='' />
		</td>
	</tr>
	
	<tr valign=top bgcolor=#E8E7E7>
		<td width=25% rowspan=3>
			&nbsp;
		</td>
		<td width=75%>
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top">
						<h2>Copy from <?php print $from_name; ?> to <?php print $to_name; ?></h2>
						
						<form action="<?php print $docroot; ?>copybusparts.php" method="post">						
							<input type="hidden" name="copyposmenu" value="<?php print $copy_from; ?>" />
							<input type="hidden" name="companyid" value="<?php print $companyid; ?>" />
							<input type="hidden" name="copyfrom" value="<?php print $copy_from; ?>" />
							<input type="hidden" name="copyto" value="<?php print $copy_to; ?>" />
							
							<input type="checkbox" value="1" name="pos_menu" /> Copy POS Menu from <?php print $from_name; ?>
							
							<span style="padding-left:15px;"><?php print $message; ?></span>
							
							<br /><br />
							
							<input type="submit" value="Copy" <?php print $disable; ?> onclick="return submit2();" />
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
	
	<tr valign="bottom" bgcolor="#E8E7E7">
		<td align="right">
			&nbsp;
		</td>
	</tr>
</table>