<table cellspacing='0' cellpadding='0' border='0' width='100%'>	
	<tr valign=top>
		<td>
			<p>
			<h2>&nbsp;Pick Sheets</h2>
		</td>
	</tr>
	<tr>
		<td>
			<form action=picksheet?cid=<?php echo $companyid; ?> method="POST">
				<?php echo $filter; ?> <input name=pickdate type=text size=8 class="datepicker" value=<?php echo $pickdate; ?>>
				<input type=submit value='GO'>
			</form>
		</td>
	</tr>
	<tr>
		<td>
			<?php echo $displayItems; ?>
		</td>
	</tr>
	<tr>
		<td>
			<p>
			<form action='/ta/posreport.php' method='post' style="margin:0;padding:0;display:inline;">
				<input type=hidden name=download_data value="<?php echo $download_data; ?>">
				<input type=submit value='Download' style="border: 1px solid #999999; font-size: 10px; background-color:#CCCCCC;" />
			</form>
		</td>
	</tr>
</table>

