<hr />

<form action="/ta/utilities/customerPost" enctype="multipart/form-data" method="post">
	<label for="upload">Update/Create File</label>
	<input type="file" name="upload" id="upload" size="25">
	<input type="hidden" name="bid" value="<?php echo $bid; ?>" />	
	<input type="hidden" name="cid" value="<?php echo $cid; ?>" />
	<br /><br />	
	<input type="submit" value="Upload" />
</form>

<hr />

<br /><br />

<form action="/ta/utilities/customerExport" method="post">
	<input type="hidden" name="bid" value="<?php echo $bid; ?>" />
	<input type="hidden" name="cid" value="<?php echo $cid; ?>" />
	<input type="submit" value="Export Customers" />
</form>
