table {
	margin: 1em;
}

table tr th,
table tr td
{
	border: 1px solid #aaa;
	border-collapse: collapse;
}

.convert_ok > th,
.convert_ok > td
{
/*
*/
	background-color: #dfd;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.convert_not_ok th,
.convert_not_ok td
{
	background-color: #fdd;
}

.convert_ok > th:first-child,
.convert_ok > td:first-child
{
	border-left: 1px solid #000;
}

.convert_ok > th:last-child,
.convert_ok > td:last-child
{
	border-right: 1px solid #000;
}

th.converted,
td.converted
{
	background-color: #0f0;
}

th.change_order,
td.change_order
{
	background-color: #00f;
	color: #fff;
}

th.change_order_failed,
td.change_order_failed
{
	background-color: #ddf;
	color: #000;
}

th.manual_convert,
td.manual_convert
{
	background-color: #f00;
}

.duplicate > th,
.duplicate > td
{
	border: 1px dotted #f55;
}

.item_name > th,
.item_name > td
{
	border: 1px dotted #fdd;
}

.n_item_name > th,
.n_item_name > td
{
	border: 1px dotted #ddf;
}

