
.header_menu
{
	font-family: arial;
	font-size: 0.82em;
}
.header_menu a
{
	color: #00f;
	text-decoration: none;
}


.account_link,
.account_link a,
.account_info,
.date_block,
.account_logout a
{
	color: #fff;
	font-weight: bold;
}

.date_block {
	text-align: right;
}

.account_link a
{
	cursor: pointer;
	padding-right: 0.4em;
	text-decoration: none;
}
.account_link a:hover
{
	color: #f90;
}

.account_logout a
{
	font-size: 0.82em;
	text-decoration: none;
}

.account_company_info
{
	font-size: 1.13em;
}


div.option_settings,
table.custom td.option_settings
{
	border: 1px solid #fff;
	color: #000;
	font-family: Arial;
	font-size: 0.82em;
	text-align: right;
}
div.option_settings {
	margin: 1px;
}

div.option_settings a,
div.option_settings a:hover,
table.custom td.option_settings a,
table.custom td.option_settings a:hover
{
	color: gray;
	text-decoration: none;
}

td.option_block {
	background-color: #ff9;
	border: 1px solid #000;
}
td.option_block > table,
td.option_block > form > table,
td.option_block > form > div > label,
td.option_block > form > div.submit_button
{
	margin: 0 2.5%;
	width: 95%;
}


td.option_block .caption {
	font-weight: bold;
	font-style: italic;
	padding-bottom: 1em;
	text-align: left;
}

table.usda_daily td.type,
table.usda_daily td.amount
{
	border: 1px solid #000;
}

table.usda_daily td.amount
{
	text-align: right;
}

tr.days_of_week td {
	background-color: #69f;
	color: #fff;
	font-family: Arial;
	text-align: center;
}

tr.days_of_week td.totals {
	background-color: #693;
	font-weight: bold;
}

tr.week td.block_day
{
	background-color: #69f;
	border: 1px solid #fff;
}
tr.week td.block_day:hover
{
	border: 1px solid #000;
	cursor: pointer;
}
tr.week td.week_total
{
	background-color: #693;
}
tr.week td.week_total:hover
{
	border: 1px solid #fff;
	cursor: auto;
}

tr.week td.block_day > table
{
	background-color: #fff;
}
tr.week td.block_day > table > thead td
{
	background-color: #ccf;
	text-align: center;
}
tr.week td.week_total > table > thead td
{
	background-color: #693;
	text-align: center;
}
tr.week td.showdate > table > thead td
{
	background-color: yellow;
}


tr.week td.week_total > table > thead td,
tr.week td.block_day > table > thead td a
{
	color: #000;
	font-family: Arial;
	font-size: 0.63em;
	font-weight: bold;
	text-decoration: none;
}
tr.week td.week_total > table > thead td
{
	color: #fff;
}
tr.week td.block_day > table > thead td a:hover
{
	color: #f90;
}

tr.week td.block_day > table > tbody tr.even
{
	background-color: #fff;
}
tr.week td.block_day > table > tbody tr.odd
{
	background-color: #e8e7e7;
}
tr.week td.block_day > table > tbody tr.overlimit
{
	background-color: #f00;
}

tr.week td.block_day > table > tbody td
{
	border: 0px;
	font-family: Arial;
	font-size: 0.82em;
}
tr.week td.week_total > table > tbody td
{
	font-weight: bold;
}
tr.week td.block_day > table > tbody td.amount
{
	text-align: right;
}








































