/*
 *	$Id$
*/

div.nutrition_info {
	text-align: left;
}

div.nutrition_info table.nutrition_info_table {
	border: 3px solid black;
}

div.nutrition_info td .add_item_button {
	text-align: right;
}

div.nutrition_info .add_item_button {
	font-weight: bold;
}

div.nutrition_info .treat_score_table {
	margin-top: 1.75em;
}
div.nutrition_info .treat_score_table .treat_score {
	padding-left: 3px;
}
div.nutrition_info .treat_score_table .treat_score_extra {
	padding-right: 3px;
}



div.nutrition_info .treat_score_table th,
div.nutrition_info .treat_score_table td
{
	font-family: Arial;
	font-size: 0.82em;
}

div.nutrition_info .treat_score_table .treat_score_value {
	color: #339;
	font-weight: bold;
}

div.nutrition_info .treat_score_table .treat_score_extra .printme,
div.nutrition_info .treat_score_table .treat_score_extra .show_recipe
{
	color: blue;
	font-family: arial;
/*
	font-size: 0.82em;
	font-size: 12px;
*/
	text-decoration: none;
}

div.nutrition_info .treat_score_table .treat_score_extra .printme:hover {
	color: #f90;
	cursor: pointer;
}

.ingredient td {
	vertical-align: top;
}

.ingredient td.cost {
	text-align: right;
}

.ingredient td ul
{
	margin: 0;
}



