

body.standard {
	background-image: url( /assets/images/nutrition/backdrop.jpg );
}

body.standard div.page_wrapper {
	margin: 0 5%;
	width: 90%;
}

body.menu_nutrition,
body.menu_nutrition2
{
	font-family: arial;
}

body.menu_nutrition .product_name {
	border: 2px solid black;
}

body.menu_nutrition th,
body.menu_nutrition td,
body.menu_nutrition2 th,
body.menu_nutrition2 td
{
	font-size: 14px;
}

body .menu_logo {
	margin: 8px 8px 12px;
}

body .menu_logo img {
	border: 0 none;
}

body.menu_nutrition table.show_recipe {
	border: 2px solid black;
}

body.menu_nutrition .show_recipe th,
body.menu_nutrition .show_recipe td
{
	font-size: 0.82em;
}

body.menu_nutrition .show_recipe th.instructions,
body.menu_nutrition .show_recipe td.instructions
{
	padding-top: 17px;
}

table.header {
	border-bottom: 1px solid #000;
}
table.header tr.logo {
	background-color: transparent;
}
table.header tr.by-line {
	background-color: #69f;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}
table.header tr.account_info {
	background-color: #693;
}

table.user_login {
	background-color: #e8e7e7;
	border: 1px solid #999;
}

table.user_login thead tr {
	background-color: #ccc;
}
table.user_login thead tr th,
table.user_login thead tr td
{
	background-color: #999;
	color: #fff;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

table.user_login thead tr:last-child th,
table.user_login thead tr:last-child td
{
	border-bottom: 1px solid #999;
}

table.user_login tbody th.label {
	font-weight: normal;
	text-align: right;
}

table.user_login tbody td.input a {
	color: blue;
	font-size: 0.82em;
	text-decoration: none;
}


div.nutrition_info .treat_score_table {
	margin-bottom: 1.5em;
}

body.menu_nutrition2 div.nutrition_info {
	margin-left:  18px;
	margin-right: 18px;
	margin-top: -3px;
}

div.meal_details {
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 18px;
}

table.meal_details {
	border: 2px solid black;
	width: 100%;
}

table.meal_details thead tr {
	background-color: #000;
}

table.meal_details thead tr th {
	color: #fff;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

table.meal_details tr.odd {
	background-color: #fff;
}

table.meal_details tr.even {
	background-color: #e8e7e7;
}

table.meal_details tr th,
table.meal_details tr td
{
	vertical-align: top;
}

table.meal_details tr th.quantity,
table.meal_details tr td.quantity
{
	padding-right: 0.55em;
	text-align: right;
	width: 10%;
}

table.meal_details tr th.units,
table.meal_details tr td.units
{
	text-align: right;
	width: 20%;
}





