
.negative {
	color: #00f;
}
.positive {
	color: #090;
	font-weight: bold;
}

table tr td.next,
table tr td.prev
{
	width: 33%;
}

body.buscontrol2 > table,
body.buscontrol2 > center > table,
body.buscontrol2 > form,
body.buscontrol2 > center > form
{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

body.buscontrol2_popup {
/*
 * popup width 500px set via js popup function
 */
	max-width: 650px;
}

.buscontrol2_popup th,
.buscontrol2_popup td
{
	text-align: left;
	font-weight: normal;
}

.buscontrol2_popup tbody {
	margin: 1em 0;
}

.buscontrol2_popup .account_child .name,
.buscontrol2_popup .account_child .total
{
	padding-left: 1em;
}

.buscontrol2_popup .account_items .label1 {
	padding-left: 3em;
	vertical-align: top;
	white-space: nowrap;
}

.buscontrol2_popup .amount {
	text-align: right;
	vertical-align: top;
}

.buscontrol2_popup .account_parent .amount,
.buscontrol2_popup .account_child .amount
{
	border-top: 3px double black;
}


body.overwrite_account form,
body.overwrite_account div.account_name,
body.overwrite_account div.submit_button,
.buscontrol2_popup form,
.buscontrol2_popup form div.button
{
	text-align: center;
}

.buscontrol2_popup form > div {
	margin: 5em auto 0;
	text-align: left;
	width: 90%;
}

.buscontrol2_popup form .comment,
.buscontrol2_popup form .email_address
{
	margin-bottom: .5em;
	margin-top: .5em;
}

.buscontrol2_popup form .comment label,
.buscontrol2_popup form .email_address label,
.buscontrol2_popup form .email label
{
	display: block;
}

.buscontrol2_popup form .email label {
	cursor: pointer;
}

.buscontrol2_popup form div.button {
	margin-top: 1em;
}


body.overwrite_account div.week_info
{
	margin: 5px;
	vertical-align: baseline;
}


body.overwrite_account div.month_label,
table.month_header tr .month_label {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

table.month_header tr .next,
table.month_header tr .prev
{
	font-size: .6em;
}
table.month_header tr .next {
	text-align: right;
}

table.month_header tr .next span,
table.month_header tr .prev span
{
	color: #00f;
}




table.control_sheet_data {
	border: 1px solid #999;
	font-size: 12px;
	width: 100%;
}

table.control_sheet_data thead div.show_sales {
	text-align: center;
}

table.control_sheet_data thead div.show_sales button {
	font-size: 10px;
}


table.control_sheet_data tr .week_label
{
	text-align: center;
}

table.control_sheet_data thead tr,
table.control_sheet_data tbody .data_line .total.estimate
{
	background-color: #e8e7e7;
}
table.control_sheet_data tbody .data_line .total.final
{
	background-color: #ccf;
}

table.control_sheet_data thead tr th,
table.control_sheet_data thead tr td
{
	border: 1px solid #999;
	font-weight: normal;
}


table.control_sheet_data tr .month_label {
	font-weight: bold;
	text-align: center;
}

table.control_sheet_data tfoot tr th,
table.control_sheet_data tfoot tr td
{
	border: 1px solid #999;
}

table.control_sheet_data tfoot tr .name
{
	padding-left: .5em;
}

table.control_sheet_data tfoot tr .delete_week,
table.control_sheet_data tfoot tr .operating_days
{
	text-align: center;
}

table.control_sheet_data tbody .data_line .name {
	border: 1px solid #999;
}

table.control_sheet_data tbody .data_line .total,
table.control_sheet_data tbody .data_line .weekly
{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: right;
}

table.control_sheet_data tbody .data_line .weekly.amount,
table.control_sheet_data tbody .data_line .total.actual.amount
{
	border-left: 1px solid #999;
}

table.control_sheet_data tbody .data_line .amount
{
	padding-left:  .5em;
	padding-right: .25em;
}

table.control_sheet_data tbody .data_line .weekly.percentage,
table.control_sheet_data tbody .data_line .total.budget.percentage
{
	border-right:1px solid #999;
}

table.control_sheet_data tbody .data_line .percentage,
table.control_sheet_data tbody .data_line .percentage a
{
	color: #00f;
}

table.control_sheet_data tbody .data_line .percentage
{
	padding-left:  .25em;
	padding-right: .5em;
}

table.control_sheet_data .data_line .total.percentage a
{
	color: #00f;
}

table.control_sheet_data tbody .data_line.group_name .name {
	padding-left: .5em;
}
table.control_sheet_data tbody .data_line.account_name .name {
	padding-left: 1em;
}

.account_name .total a {
	color: #000;
	display: block;
	text-decoration: none;
/*
	width: 100%;
*/
}

.account_name .weekly a {
	display: block;
	text-decoration: none;
}

.account_name .amount a {
	color: #000;
}


table.control_sheet_data tbody .data_line.group_name,
table.control_sheet_data tbody .data_line.group_name .total.final,
table.control_sheet_data tbody .data_line.group_name .total.estimate
{
	background-color: #ccc;
}
table.control_sheet_data tbody .data_line.group_name .total.final
{
	background-color: #99f;
}
table.control_sheet_data tbody .data_line.account_name {
	background-color: #fff;
}

table.control_sheet_data tbody .data_line:hover,
table.control_sheet_data tbody .data_line:hover .total.final,
table.control_sheet_data tbody .data_line:hover .total.estimate
{
	background-color: #ff0;
}






table.control_sheet_data tr .week_label a {
	text-decoration: none;
}
table.control_sheet_data tr .week_label span span {
	font-weight: bolder;
}
table.control_sheet_data tr .week_label span {
	color: #000;
}
table.control_sheet_data tr .week_label a:hover span {
	color: #f90;
}


.negative,
table.control_sheet_data .data_line .total.negative,
table.control_sheet_data .data_line .total.negative a
{
	color: #d00;
}
.positive,
table.control_sheet_data .data_line .total.positive,
table.control_sheet_data .data_line .total.positive a
{
	color: #090;
	font-weight: bold;
}


pre {
	outline: 1px solid orange;
	text-align: left;
}

pre pre {
	outline: 1px solid #00f;
	text-align: left;
}



