.matched {
	background-color: #ccf; 
	font-weight: bold;
}

.keyHover {
	background-color: #39f; 
	color: white; 
	border: 1px dotted red;
}

.mouseHover {
	background-color: #39f; 
	border: 1px dotted red; 
	color: white;
}

#autoBox {
	background: url('/assets/images/ta/down_arrow.gif') no-repeat center right; 
	background-color: white; 
	border: 1px solid #1b1b1b;
}

#autoBox.hover {
	background: url('/assets/images/ta/down_arrow_hover.gif') no-repeat center right; 
	background-color: white; 
	border: 1px solid #3c7fb1;
}

.dispVal {
	font-weight: bold; 
	color: green; 
	text-decoration: underline;
}

.dialog-hidden { 
	display: none;
}

#divbox {
	position: absolute; 
	height: 100%; 
	visibility: hidden;
}

#reportFloater {
	position: absolute; 
	background: #FFFFFF; 
	width: 100%; 
	height: 500px; 
	left: 0px; 
	top: 100px; 
	text-align: center; 
	z-index: 1000;
}

#reportFloater>center {
	height: 100%;
}

.ui-dialog-content {
	font-size: 75%;
}