/*
    Document   : businessmenus
    Created on : Jun 22, 2011, 2:30:01 PM
    Author     : Eric Gach <eric@php-oop.net>
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

label.useAClassPLEASE {
	clear: both;
	display: block;
	float: left;
	width: 200px;
}

label.sameThingNoFloats {
	display: inline-block;
	width: 200px;
}

a.promo_group {
	color: #000;
	text-decoration: none;
}

div.title {
	background: #ccc;
	font-weight: bold;
	text-align: center;
}

#frm_promo_groups {
	margin: 5px;
}
