

.statusbox {
	font-size: 13px;
	font-family: Monaco, monospace;
	width: 15em;
}
ul.boxy li {
	margin: 0px;
}
#phonetics td {
	margin: 0px;
	padding: 0px 1em;
	vertical-align: top;
	width: 100px;
}
#phonetic1 li,
#phonetic2 li,
#phonetic3 li
{
	margin: 0px;
}
#phonetic2 li {
	margin-bottom: 4px;
}
#phonetic3 {
	margin-top: -4px;
}
#phonetic3 li {
	margin-top: 4px;
}
#phoneticlong {
	margin-bottom: 1em;
}
#phoneticlong li,
#buttons li
{
	margin-bottom: 0px;
	margin-top: 4px;
}

#boxes {
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 300px;
}
#boxes li {
	cursor: move;
	position: relative;
	float: left;
	margin: 2px 2px 0px 0px;
	width: 33px;
	height: 28px;
	border: 1px solid #000;
	text-align: center;
	padding-top: 5px;
	background-color: #eeeeff;
}

#twolists td {
	width: 300px;
	vertical-align: top;
}
#twolists1 li {
	font-family: sans-serif;
}
#twolists2 {
	border: 1px dashed #fff;
}
#twolists2 li {
	font-family: serif;
	background-color: #eedddd;
}
.inspector {
	font-size: 11px;
}


.matched {
	background-color: #ccf;
	font-weight: bold;
}
.keyHover {
	background-color: #39f;
	color: white;
	border: 1px dotted red;
}
.mouseHover {
	background-color: #39f;
	border: 1px dotted red;
	color: white;
}

#autoBox {
	background: url('/assets/images/ta/down_arrow.gif') no-repeat center right;
	background-color: white;
	border: 1px solid #1b1b1b;
}
#autoBox.hover {
	background: url('/assets/images/ta/down_arrow_hover.gif') no-repeat center right;
	background-color: white;
	border: 1px solid #3c7fb1;
}

.dispVal {
	font-weight: bold;
	color: green;
	text-decoration: underline;
}



td.recipe_extras {
	background-color: #e8e7e7;
}

td.recipe_extras div.recipe_extras {
	text-align: right;
	width: 98%;
}

.recipe_extras a {
	color: #00f;
	text-decoration: none;
}


#recipe {
	width: 95%;
}

#recipe .quantity_number {
	width: 50px;
}

#recipe .quantity_size {
	width: 100px;
}

#recipe tbody .quantity_number,
#recipe tbody .quantity_size,
#recipe tbody .item_name,
#recipe tbody .show_size,
#recipe tbody .new_price
{
	background-color: #fff;
	border-bottom: 1px solid #e8e7e7;
}

#recipe tbody .highlight .quantity_number,
#recipe tbody .highlight .quantity_size,
#recipe tbody .highlight .item_name,
#recipe tbody .highlight .show_size,
#recipe tbody .highlight .new_price
{
	background-color: #0ff;
}

#recipe tbody .quantity_number {
	color: blue;
	text-align: right;
}

#recipe tbody .quantity_size {
	text-align: center;
}

#recipe tbody .item_name {
	text-align: left;
}

#recipe tbody .show_size,
#recipe tbody .new_price
{
	padding-right: 10px;
	text-align: right;
}

#recipe .total_recipe_cost .recipe_label,
#recipe .total_recipe_cost .recipe_cost,
#recipe .total_perserv_cost .perserv_label,
#recipe .total_perserv_cost .perserv_cost
{
	background-color: #fff;
	font-weight: bold;
	padding-right: 10px;
}

#recipe .total_recipe_cost .recipe_cost,
#recipe .total_perserv_cost .perserv_cost
{
	padding-right: 10px;
	text-align: right;
}

#recipe .total_recipe_cost .recipe_rest,
#recipe .total_perserv_cost .perserv_rest
{
	font-size: 12px;
	font-weight: bold;
}


.heartHealthy,
.healthyLiving
{
	color: blue;
	font-size: 13px;
}

.heartHealthy > .isHeartHealthy,
.heartHealthy > .isNotHeartHealthy,
.healthyLiving > .isHealthyLiving,
.healthyLiving > .isNotHealthyLiving
{
	font-weight: bold
}
.heartHealthy > .isHeartHealthy,
.healthyLiving > .isHealthyLiving
{
	color: green;
}
.heartHealthy > .isNotHeartHealthy,
.healthyLiving > .isNotHealthyLiving
{
	color: red;
}



