
#testdiv1 {
	background-color: white;
	position: absolute;
	visibility: hidden;
}

form,
p
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.which_sales a span {
	color: #00f;
	font-weight: bold;
	text-decoration: none;
}
.which_sales a span:hover {
	color: #f90;
}

.shownot {
	color: #f00;
}

form.week_form {
	display: inline;
	margin: 0;
	padding: 0;
}

.labor_table
{
/*
	background-color: #e8e7e7;
*/
	border: 0;
	empty-cells: show;
	width: 100%;
}

.labor_table thead tr
{
	background-color: #ccf;
	width: 100%;
}

.labor_table thead tr th
{
	font-size: 0.82em;
	font-weight: bold;
	line-height: 1.5em;
	vertical-align: middle;
	white-space: nowrap;
}

.labor_table .sales,
.labor_table .cashless,
.labor_table .kiosk_sales,
.labor_table .fv_sub,
.labor_table .csv,
.labor_table .holiday,
.labor_table .snp,
.labor_table .days,
.labor_table .pto,
.labor_table .pto_total,
.labor_table .base,
.labor_table .commission,
.labor_table .pay_week,
.labor_table .pay_average,
.labor_table .pay_total
{
	text-align: right;
}

.labor_table tbody tr th,
.labor_table tbody tr td
{
	font-size: 0.82em;
	vertical-align: middle;
}


.labor_table tbody tr.employee
{
	border-top: 1px solid #e8e7e7;
}
.labor_table tbody tr.employee th,
.labor_table tbody tr.employee td
{
	background-color: #fff;
	border-top: 1px solid #e8e7e7;
	font-size: 0.82em;
}

.labor_table tbody tr.employee:hover th,
.labor_table tbody tr.employee:hover td
{
	background-color: #ccc;
}

.labor_table tbody tr.employee th.pay_total,
.labor_table tbody tr.employee td.pay_total
{
	font-weight: bold;
}


.labor_table tbody tr.white th,
.labor_table tbody tr.white td
{
	background-color: #fff;
}

.labor_table tbody tr.white:hover th,
.labor_table tbody tr.white:hover td
{
	background-color: #ccc;
}

.labor_table tbody tr.pagetotal th,
.labor_table tbody tr.pagetotal td,
.labor_table tbody tr.total th,
.labor_table tbody tr.total td
{
	background-color: #e8e7e7;
}

.labor_table tbody tr.total:hover th,
.labor_table tbody tr.total:hover td
{
	background-color: orange;
}

.labor_table tbody tr.pagetotal th,
.labor_table tbody tr.pagetotal td
{
	border-top: 1px solid #ccc;
	font-weight: bold;
}

.manage_labor_groups
{
	color: blue;
	font-size: 0.82em;
	text-decoration: none;
}

.manage_labor_groups:hover
{
	color: #f90;
}


/*
* /
td,th {
	outline: 1px solid orange;
}

td td,
td th,
th td,
th th
{
	outline: 1px solid #00b;
}
/*
*/

table.labor_table tbody tr.highlighted th,
table.labor_table tbody tr.highlighted td
{
	background-color: #ff0;
}

table.labor_table tbody tr.highlighted:hover th,
table.labor_table tbody tr.highlighted:hover td
{
	background-color: #fe0;
}



