#zero-close-account-header {  }
.audit-record-table { font-size: 12px; }
.audit-record-header { background-color: #FFF; color: #000; font-size: 10pt; border:1px solid #999999; } 
.zero-close-account-active { border:1px solid #999999; } 
.zero-close-account-active-header { width: 175px; background-color: #999999; color: #FFFFFF; } 
.zero-close-account-inactive { border:1px solid #999999; } 

#audit-record-table { min-width: 95%; border: 1px solid #999999; font-size: 12px; bgcolor: white; margin-bottom: 20px; border-spacing: 0px; }
#zero-close-inactive { min-width: 95%; border: 1px solid #999999; font-size: 12px; bgcolor: white; margin-bottom: 20px; border-spacing: 0px; }
#zero-close-accounts-header-row { background-color: #FFF; color: #000; font-weight: bold; font-size: 12pt; }
#audit-record-header-row { background-color: #999999; color: #FFF; font-size: 11pt; }
.audit-record-row { background-color: #FFF; color: #000; font-size: 10pt; border: 1px solid #999999; }