#accounts-rebalanced {
	float: right;
	padding: 0px 0px 0px 0px;
	width: 400px;
}
#accounts-rebalanced-2 {
	clear: both;
	float: right;
	padding: 0px 0px 0px 0px;
	width: 400px;
}
#rows-fixed {
	color: #FF0000;
}
#customer-rebalanced-header {
	float: right;
	min-width: 400px;
	margin: 0px 0px 10px 0px;
	font: 16pt bold;
}

.new-customer-data {

}
.customer-infor-line {

}

.customer-calculated-balance {
	float: right;
}
.customer-balance {
	float: right;
}
.customer-name {
	float: right;
}

.customer-calculated-balance-value {
	float: none;
	font-weight: bold;
}
.customer-balance-value {
	float: none;
	font-weight: bold;
}
.customer-name-value {
	float: none;
	font-weight: bold;
}

.customer-rebalanced-line {
	float: right;
	min-width: 400px;
}
.account-balance-summary-label {
	float: left;
	min-width: 150px;
	clear: left;
}
.account-balance-summary-amount {
	float: left;
	min-width: 50px;
	font-weight: bold;
	color: blue;
	margin: 0 20px 0 5px;
	text-align: right;
}
.account-balance-summary-text {
	float: left;
	min-width: 150px;
}
.customer-not-in-balance {
	
}
.customer-in-balance {
	width: 60%;
}

.check-header-row-oob {
	border: 2px solid red;
	text-align: center;
}
.check-detail-row-oob {
	text-align: center;
}
.check-detail-row-oob-even {
	text-align: center;
	background-color: #FFCCCC;
}
.check-detail-row-oob-odd {
	text-align: center;
	background-color: #FAFAFA;
}
.customer-balance-headers-oob {
	font-size: 18px;
	color: #FF0000;
	font-weight: bold;
}

.check-header-row {
	border: 2px solid blue;
	text-align: center;
}
.check-detail-row {
	text-align: center;
}
.check-detail-row-even {
	text-align: center;
	background-color: #CFDDF3;
}
.check-detail-row-odd {
	text-align: center;
	background-color: #F2F2F2;
}
.customer-balance-headers {
	font-size: 14px;
	color: #0000FF;
	font-weight: bold;
}
.customer-balance-headers-1 {
	border-bottom: 1px solid blue;
	padding-top: 5px;
	color: blue;
}
.customer-balance-headers-oob-1 {
	border-bottom: 1px solid red;
	padding-top: 5px;
	color: red;
}