
/* This can probably be removed later depending on how we want pages to look */
body {
	margin: 8px 32px;
}

.page_wrapper .flash_debug,
.page_wrapper .flash_error,
.page_wrapper .flash_message
{
	background-color: #ffe0e0;
	border: 1px solid #f00;
	margin: 1em auto;
	padding: 3px;
	text-align: center;
	width: 78%;
}
.page_wrapper .flash_debug {
	background-color: #e0e0ff;
	border: 1px solid #00f;
	margin: 1em;
	text-align: left;
	width: auto;
}
.page_wrapper .flash_message {
	background-color: #e0ffe0;
	border: 1px solid #0f0;
}
.page_wrapper .flash_debug ul,
.page_wrapper .flash_error ul,
.page_wrapper .flash_message ul
{
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

.page_wrapper .flash_debug .account_name,
.page_wrapper .flash_error .account_name,
.page_wrapper .flash_message .account_name
{
	font-weight: bold;
}

.logo {
}

.logo img {
	border: 0;
}

.header .vending_operations {
	border: 0 none;
	border-collapse: collapse;
	width: 100%;
}

table td,
table th
{
	text-align: left;
}

td.header_nav a span,
td.header_nav a:hover span
{
	color: #999;
	text-decoration: none;
}

td.header_nav a:hover span {
	color: #f90;
}

td.header_nav a span.current_page,
td.header_nav a:hover span.current_page
{
	color: #f00;
}



table.month_header {
	width: 100%;
}

table.month_header tr .month_label {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

table.month_header tr .next,
table.month_header tr .prev
{
	font-size: .6em;
}
table.month_header tr .next {
	text-align: right;
}

table.month_header tr .next span,
table.month_header tr .prev span
{
	color: #00f;
}



