
table.inventory_tabs .left_corner,
table.inventory_tabs .label,
table.inventory_tabs .right_corner
{
	background-color: #ccc;
	vertical-align: top;
}

table.inventory_tabs .current_tab.left_corner,
table.inventory_tabs .current_tab.label,
table.inventory_tabs .current_tab.right_corner
{
	background-color: #e8e7e7;
}

table.inventory_tabs .left_corner
{
	text-align: left;
}

table.inventory_tabs .label
{
	text-align: center;
}

table.inventory_tabs .right_corner
{
	text-align: right;
}


table.inventory_tabs .left_corner img,
table.inventory_tabs .right_corner img
{
	border: 0 none;
}

table.inventory_tabs .label a,
table.inventory_tabs .label a:hover
{
	color: #00f;
	text-decoration: none;
}

table.inventory_tabs .current_tab.label a,
table.inventory_tabs .current_tab.label a:hover
{
	color: #000;
}

a.used_in_recipe {
	color: #00f;
	text-decoration: none;
}
a.used_in_recipe:hover {
	color: #f90;
}


