
.list_of_recipes thead tr,
.list_of_recipes thead th,
.list_of_recipes thead td
{
	background-color: #e8e7e7;
}

.list_of_recipes thead th,
.list_of_recipes thead td
{
	border-bottom: 1px solid #000;
	font-weight: bold;
}

.list_of_recipes thead .item_unit,
.list_of_recipes thead .item_district
{
	text-align: right;
}

.list_of_recipes tbody tr.menu_recipe td {
	background-color: white;
	border-bottom: 1px solid #e8e7e7;
	vertical-align: bottom;
}

.list_of_recipes tbody tr.menu_recipe:hover td {
	background-color: #999999;
}

.list_of_recipes tbody tr.menu_recipe .menu_name,
.list_of_recipes tbody tr.menu_recipe .station_name,
.list_of_recipes tbody tr.menu_recipe .item_district,
.list_of_recipes tbody tr.menu_recipe .item_unit
{
	font-size: 0.82em;
}

.list_of_recipes tbody tr.menu_recipe .item_buttons
{
	font-size: 0.75em;
	font-family: monospace;
}

.list_of_recipes tbody tr.menu_recipe .item_district,
.list_of_recipes tbody tr.menu_recipe .item_unit
{
	text-align: right;
}

.list_of_recipes tbody tr.menu_recipe .item_buttons
{
	text-align: right;
}

.item_buttons a {
	float: left;
	padding-left: 12px;
	padding-bottom: 2px;
}

.keeper_0, .keeper_1, .keeper_2, .keeper_3, .keeper_4 {
	width: 20px;
	display: inline-block;
}

.item_buttons .keeper_0 img,
.item_buttons .keeper_1 img,
.item_buttons .keeper_2 span,
.item_buttons .keeper_3 span,
.item_buttons .keeper_4 span {
	display: inline-block;
}

.item_buttons .keeper_0 span,
.item_buttons .keeper_1 span,
.item_buttons .keeper_2 img,
.item_buttons .keeper_3 img,
.item_buttons .keeper_4 img {
	display: none;
}