
.current_reports thead th
{
	font-weight: bold;
}

.current_reports .report_name,
.current_reports .report_when
{
	text-align: left;
}

.current_reports .date_run,
.current_reports .report_how_often,
.current_reports .report_dow,
.current_reports .report_dom,
.current_reports .report_next_run
{
	text-align: center;
}


.current_reports .report_name a,
.current_reports .report_when a,
.current_reports .date_run a,
.current_reports .report_how_often a,
.current_reports .report_dow a,
.current_reports .report_dom a,
.current_reports .report_next_run a
{
	display: block;
	text-decoration: none;
}


form#add_new_report {
	margin: 0;
	padding: 0;
}

