/* 
    Document   : user_security
    Created on : Feb 25, 2013, 2:38:58 PM
    Author     : patrick
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.user_security form {
/*
	margin: 0;
	padding: 0;
*/
	margin-top: 2px;
}


.user_security fieldset {
	margin: 0 1em;
}

.user_security fieldset > table {
/*
	border: 1px solid black;
*/
	margin-left: 5%;
	width: 90%;
}

.user_security fieldset > table > tbody > tr > td {
	padding: 0 0 0 1.5em;
	text-indent: -1.5em;
	vertical-align: top;
	width: 33%;
}


