
.commission_detail table th
{
	font-size: 0.82em;
	font-weight: normal;
	text-align: right;
	text-decoration: underline;
}

.commission_detail table th.header
{
	font-weight: bold;
	text-align: left;
}

.commission_detail table td
{
	font-size: 0.82em;
	text-align: right;
}

.commission_settings table th
{
	font-weight: normal;
	text-align: left;
}



