
.import_budget td,
.import_final td,
.import_gl td
{
	border-bottom: 2px solid black;
}

.import_budget label,
.import_final label,
.import_gl label
{
	font-weight: bold;
	padding-left: .5em;
}

.import_pl_off td
{
	background-color: #e8e7e7;
}

.import_pl_on td
{
	background-color: #ffff99;
}




