<h3>Menu Import Format</h3>
<div style="float: left;">
	<p>All menus must be in CSV (comma-separated value) format.</p>
	<p>Menu files should NOT include a header row at the top.</p>
</div>
<div style="float: right; padding-right: 2em;">
	<p>There are seven required fields:</p>
	<ol type="A">
		<li>Item Code</li>
		<li>Product Name</li>
		<li>UPC</li>
		<li>Item Cost</li>
		<li>Item Price</li>
		<li>Group Name</li>
		<li>
			Order Type<br />(Beverage: 3, Snack: 2, Commissary: 1)
		</li>
	</ol>
</div>
<div style="text-align: center; clear: both;">
	<img src="/assets/images/import_menu_help.png"/>
</div>