<applet code="PiechartApplet.class" archive="Piechart.jar" width="330" height="320">

<!-- Start Up Parameters -->
<PARAM name="LOADINGMESSAGE" value="Creating Chart - Please Wait.">
<PARAM name="STEXTCOLOR"     value="#000060">
<PARAM name="STARTUPCOLOR"   value="#FFFFFF">

<!-- Chart Switches -->
<PARAM name="3D"                 value="true">
<PARAM name="Slabels"            value="true">
<PARAM name="displayPercentages" value="true">
<PARAM name="legend"             value="true">

<!-- Chart Characteristics -->
<PARAM name="nPies"      value="3">
<PARAM name="ndecplaces" value="0">
<PARAM name="depth3D"    value="10">
<PARAM name="3Dangle"    value="40">

<!-- Link Cursor --> <!--  valid values are - crosshair, default, hand, move, text or wait -->
<PARAM name="linkCursor" value="hand">

<!-- Popup segment Value Pre & Post Symbols -->
<PARAM name="valuepresym"  value="$">

<!-- thousand seperater -->
<PARAM name="thousandseparator" value=",">

<!-- Additional font information -->
<PARAM name="popupfont"  value="Arial,B,10">
<PARAM name="slabelfont" value="Arial,N,10">

<!-- Additional color information -->
<PARAM name="bgcolor"      value="#FFFFFF">
<PARAM name="labelcolor"   value="#323232">
<PARAM name="popupbgcolor" value="#A0A0CC">

<!-- Title --> 
<!-- title   text|xpos,ypos|Font|Color Defintion"> -->
<PARAM name="title" value="Sales by Region|5,10|Arial,B,12|#888888">

<!-- Legend Information -->
<PARAM name="legendfont"       value="Arial,N,10">
<PARAM name="legendposition"   value="215,120">
<PARAM name="legendtitle"      value="Sales Regions">
<PARAM name="LegendBackground" value="#FFFFFF">
<PARAM name="LegendBorder"     value="#DDDDDD">
<PARAM name="LegendtextColor"  value="#202020">

<!-- Free Form Text -->
<!--  textn         text,xpos,ypos,font-type,font-style,font-size,Rcolor,Gcolor,Bcolor"> -->
<PARAM name="text1"  value="Product X|20,45|Arial,B,10|#000090">
<PARAM name="text2"  value="Product Y|180,20|Arial,B,10|#000090">
<PARAM name="text3"  value="Combined|20,170|Arial,B,10|#000090">

<!-- Pie Data --> 
<!--  PieN   x,y,size,number of segments, seperation -->
<PARAM name="Pie1" value="50,50,60,6,0">
<PARAM name="Pie2" value="215,30,60,6,5">
<PARAM name="Pie3" value="50,180,100,6,0">

<!-- Segment Data --> 
<!-- segmentN       series color|legend label|URL|Target Frame -->
<PARAM name="segment1" value="115,152,164|N.America">
<PARAM name="segment2" value="99,99,156|Europe">
<PARAM name="segment3" value="185,53,8|Asia">
<PARAM name="segment4" value="239,214,115|Africa">
<PARAM name="segment5" value="0,63,68|Australia">
<PARAM name="segment6" value="17,97,158|S.America">

<!-- Pie Data --> 
<!--                value,URL,Target Frame -->
<PARAM name="data1series1" value="1000,http://www.jpowered.com,_self">
<PARAM name="data2series1" value="600,http://www.jpowered.com,_self">
<PARAM name="data3series1" value="350,http://www.jpowered.com,_self">
<PARAM name="data4series1" value="200,http://www.jpowered.com,_self">
<PARAM name="data5series1" value="250,http://www.jpowered.com,_self">
<PARAM name="data6series1" value="130,http://www.jpowered.com,_self">

<PARAM name="data1series2" value="300,http://www.jpowered.com,_self">
<PARAM name="data2series2" value="100,http://www.jpowered.com,_self">
<PARAM name="data3series2" value="500,http://www.jpowered.com,_self">
<PARAM name="data4series2" value="250,http://www.jpowered.com,_self">
<PARAM name="data5series2" value="130,http://www.jpowered.com,_self">
<PARAM name="data6series2" value="210,http://www.jpowered.com,_self">

<PARAM name="data1series3" value="1300,http://www.jpowered.com,_self">
<PARAM name="data2series3" value="700,http://www.jpowered.com,_self">
<PARAM name="data3series3" value="850,http://www.jpowered.com,_self">
<PARAM name="data4series3" value="450,http://www.jpowered.com,_self">
<PARAM name="data5series3" value="380,http://www.jpowered.com,_self">
<PARAM name="data6series3" value="430,http://www.jpowered.com,_self">


</applet>
