<script src="../AppletFiles/jpapplet.js" language="javascript" type="text/javascript"></script>
<script language="javascript" type="text/javascript">jpwriteapplet('<applet code="LineGraphApplet.class" archive="Linegraph.jar" codebase="../AppletFiles/" width="860" height="440">')</script>

<!-- Start Up Parameters -->
<PARAM name="LOADINGMESSAGE" value="Creating Chart - Please Wait.">
<PARAM name="STEXTCOLOR"     value="#000060">
<PARAM name="STARTUPCOLOR"   value="#FFFFFF">

<!-- Line Data -->
<!--                value,URL,Target Frame -->
<PARAM name="data1series1"    value="0">
<PARAM name="data2series1"    value="1609.62">
<PARAM name="data3series1"    value="1979.68">
<PARAM name="data4series1"    value="2044.42">
<PARAM name="data5series1"    value="2098.31">
<PARAM name="data6series1"    value="1313.21">
<PARAM name="data7series1"    value="0">
<PARAM name="data8series1"    value="0">
<PARAM name="data9series1"    value="1697.30">
<PARAM name="data10series1"   value="2230.81">
<PARAM name="data11series1"   value="2802.02">
<PARAM name="data12series1"   value="2346.81">
<PARAM name="data13series1"   value="1842.27">
<PARAM name="data14series1"   value="0">
<PARAM name="data15series1"   value="0">
<PARAM name="data16series1"   value="1700.15">
<PARAM name="data17series1"   value="2435.55">
<PARAM name="data18series1"   value="2011.12">
<PARAM name="data19series1"   value="2610.36">
<PARAM name="data20series1"   value="1589.86">
<PARAM name="data21series1"   value="0">
<PARAM name="data22series1"   value="0">
<PARAM name="data23series1"   value="1852.32">
<PARAM name="data24series1"   value="2100.49">
<PARAM name="data25series1"   value="2370.37">
<PARAM name="data26series1"   value="3081.24">
<PARAM name="data27series1"   value="1702.91">
<PARAM name="data28series1"   value="0">
<PARAM name="data29series1"   value="0">
<PARAM name="data30series1"   value="1626.41">


<!-- Properties -->
<PARAM name="3D"                   value="true">
<PARAM name="depth3D"              value="10">

<PARAM name="autoscale"            value="true">
<PARAM name="chartScale"           value="10000">
<PARAM name="chartStartY"          value="0"> <!-- orig value 0 -->

<PARAM name="gridbgcolor"          value="#CCEEDD">
<PARAM name="floorColor"           value="#88AA99">
<PARAM name="hSpace"               value="20"> <!-- orig value 30 -->
<PARAM name="nPoints"              value="30"> 
<PARAM name="nRows"                value="10"> 

<PARAM name="series1"              value="#3333CC|5|10|true|Product X">
<PARAM name="series2"              value="#FF9900|4|10|true|Product Y">
<PARAM name="series3"              value="#CC33CC|3|10|true|Product Z">

<PARAM name="ndecplaces"           value="0"> <! -- orig value 0 -->
<PARAM name="legend"               value="true">
<PARAM name="LegendStyle"          value="Horizontal">
<PARAM name="legendfont"           value="Arial,N,10">
<PARAM name="labelOrientation"     value="Down Angle">

<PARAM name="title"                value="April Sales - American Family Insurance|-1,-1|Arial,B,14|#5555FF">
<PARAM name="xtitle"               value="April 2007|-1,-1|Arial,B,12|#5555FF">

<PARAM name="ylabel_pre"           value="$">
<PARAM name="ylabel_font"          value="Arial,N,10">

<PARAM name="popup_pre"            value="$">

<PARAM name="xlabel_font"          value="Arial,N,10">

<PARAM name="label1"               value="04/01/2007">
<PARAM name="label2"               value="04/02/2007">
<PARAM name="label3"               value="04/03/2007">
<PARAM name="label4"               value="04/04/2007">
<PARAM name="label5"               value="04/05/2007">
<PARAM name="label6"               value="04/06/2007">
<PARAM name="label7"               value="04/07/2007">
<PARAM name="label8"               value="04/08/2007">
<PARAM name="label9"               value="04/09/2007">
<PARAM name="label10"               value="04/10/2007">
<PARAM name="label11"               value="04/11/2007">
<PARAM name="label12"               value="04/12/2007">
<PARAM name="label13"               value="04/13/2007">
<PARAM name="label14"               value="04/14/2007">
<PARAM name="label15"               value="04/15/2007">
<PARAM name="label16"               value="04/16/2007">
<PARAM name="label17"               value="04/17/2007">
<PARAM name="label18"               value="04/18/2007">
<PARAM name="label19"               value="04/19/2007">
<PARAM name="label20"               value="04/20/2007">
<PARAM name="label21"               value="04/21/2007">
<PARAM name="label22"               value="04/22/2007">
<PARAM name="label23"               value="04/23/2007">
<PARAM name="label24"               value="04/24/2007">
<PARAM name="label25"               value="04/25/2007">
<PARAM name="label26"               value="04/26/2007">
<PARAM name="label27"               value="04/27/2007">
<PARAM name="label28"               value="04/28/2007">
<PARAM name="label29"               value="04/29/2007">
<PARAM name="label30"               value="04/30/2007">

</applet>

