<table style="background-image:url('nogo.gif');background-repeat: no-repeat;background-position: center; background-color: #E8E7E7" width=100%>
<tr height=500><td width=33%>hello</td><td width=33%>hello</td><td width=33%>hello</td></tr>
</table>