
#testdiv1 {
	position: absolute;
	visibility: hidden;
	background-color: white;
	layer-background-color: white;
}

.menu_group_links {
	font-family: arial;
	font-size: 13px;
	line-height: 20px;
	vertical-align: bottom;
}

.menu_group_links a {
	color: #999;
	text-decoration: none;
}

.menu_group_links a.current {
	color: blue;
}

.menu_group_links a:hover {
	color: #f90;
}

.menu_group_favorite {
	font-style: italic;
	font-weight: bold;
}


table.order_details {
	border: 2px solid #999;
	font-family: arial;
}

table.order_details a img {
	border: 0 none;
	cursor: pointer;
}

table.order_details thead th,
table.order_details tbody.items tr.odd td,
table.order_details tbody.items tr.even td,
table.order_details tbody.subtotal tr td {
	font-size: 13px;
}

table.order_details thead th {
	background-color: #999;
	color: #fff;
	font-weight: bold;
	text-align: left;
}

table.order_details tbody tr td.item_qty,
table.order_details tbody tr td.item_name,
table.order_details tbody tr td.item_detail {
	text-align: left;
}

table.order_details tbody tr td.item_price,
table.order_details tbody tr td.item_total {
	text-align: right;
}

table.order_details tbody.items tr.odd td {
	background-color: white;
}

table.order_details tbody.items tr.even td {
	background-color: #e8e7e7;
}

table.order_details tbody.items tr.highlight td {
	background-color: yellow;
}

div#orderDetailShowSave,
div#orderDetailSubmitSave
{
	font-size: 13px;
}

div#orderDetailShowSave
{
	display: inline;
}

div#orderDetailSubmitSave
{
	display: none;
}

div#orderDetailShowSave a,
div#orderDetailSubmitSave a
{
	color: #00f;
	font-size: 13px;
	text-decoration: none;
}
div#orderDetailShowSave a img,
div#orderDetailSubmitSave a img
{
	border: 0 none;
}
div#orderDetailShowSave a:hover,
div#orderDetailSubmitSave a:hover
{
	color: #f90;
}

div#orderDetailShowSave input,
div#orderDetailSubmitSave input
{
	font-size: 9px;
}


table.menuGroupHeader {
	background-color: #c0c0c0;
	background-image: url('/assets/images/menu/group.jpg');
	background-repeat: repeat-x;
	border: 1px solid #999;
}

table.menuGroupHeader .groupNutrition {
	background-color: #fff;
}
table.menuGroupHeader .groupNutrition div {
	margin: 0;
	padding: 0;
}
table.menuGroupHeader .groupNutrition div ~ div {
	margin: 2px 0 0;
}
table.menuGroupHeader .groupNutrition div a img {
	border: 0 none;
}

table.menuGroupHeader .groupName {
	color: #000;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

table.menuGroupHeader .groupDescription,
.groupLinks
{
	color: #000;
	font-family: arial;
	font-size: 13px;
}

table.menuGroupHeader .groupLinks {
	text-align: right;
}
.footerLinks {
	text-align: center;
}

.groupLinks a {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

.menuItemsNone {
	background-color: white;
	border: 1px solid #ccc;
	margin: 0 5%;
	width: auto;
}

.menuItemsNone .noItems,
.menuItemsNone .moreInfo {
	font-style: italic;
}
.menuItemsNone .noItems {
	font-weight: bold;
}

div.menuItems {
	margin: 0 5%;
	width: auto;
}

.menuItems table.menuItem {
	background-color: #e8e7e7;
	background-image: url('/assets/images/menu/menuitem.jpg');
	background-repeat: repeat-y;
	border: 1px solid #e8e7e7;
}
.menuItems table.menuItem:hover {
	background-color: #e8e7e7;
	background-image: url('/assets/images/spacer.gif');
}

.menuItems table.menuItem .menuItemLine {
	font-family: arial;
	font-size: 13px;
}

.menuItems table.menuItem .menuItemTop {
	font-weight: bold;
}

.menuItems table.menuItem .menuItemName {
	color: #000;
	vertical-align: bottom;
}
.menuItems table.menuItem a.menuItemName:hover {
	color: #f90;
}

.menuItems table.menuItem .menuItemPrice {
	color: gray;
}

.menuItems table.menuItem .menuItemExtra {
}

.menuItems table.menuItem .menuItemLine {
	font-family: arial;
	font-size: 13px;
}

.menuItems table.menuItem .menuItemLine .treatScore {
	background: url('/assets/images/menu/tp.jpg') no-repeat;
	color:white;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	margin-top: 3px;
	text-align: center;
	width: 16px;
}

.menuItems table.menuItem .menuItemAddQty {
	width: 305px;
}

.menuItems table.menuItem .menuItemAddQty form {
	margin: 0;
	padding: 0;
	display: inline;
}

.menuItems table.menuItem .menuItemAddQty form .optionGroups {
	background-color: #fff;
}

.menuItems table.menuItem .menuItemAddQty form .optionGroups .option input {
	font-size: 10px;
}

.menuItems table.menuItem .menuItemAddQty form .optionGroups .option .optionAdd {
	color: #000;
	font-size: 13px;
}
.menuItems table.menuItem .menuItemAddQty form .optionGroups .option a.optionAdd:hover {
	color: #f90;
}

.menuItems table.menuItem .menuItemAddQty form .optionGroups .option .optionAdd .optionAddPrice {
	font-style: italic;
}

.menuItems table.menuItem .menuItemAddQty form .specialInstructions {
	background-image: url('/assets/images/menu/spinstr.jpg');
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	font-size: 13px;
	margin: 1px 0;
	text-align: left;
	width: 98%;
}

.menuItems table.menuItem .menuItemAddQty form .specialInstructions > div {
	text-decoration: underline;
}

.menuItems table.menuItem .menuItemAddQty form .specialInstructions > textarea {
	font-size: 11px;
}

.menuItems table.menuItem .menuItemAddQty form .menuItemQty {
	background-image: url('/assets/images/menu/qty.jpg');
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	font-size: 13px;
	margin: 1px 0;
	text-align: right;
	width: 98%;
}

.menuItems table.menuItem .menuItemAddQty form .menuItemQty input,
.menuItems table.menuItem .menuItemAddQty form .menuItemQty button
{
	font-size: 10px;
}

body#heartHealthy {
	font-family: arial;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
	max-width: 415px;
	text-align: center;
}
body#heartHealthy div.heartHealthy .title {
	font-weight: bold;
}
body#heartHealthy div.heartHealthy > ul {
	text-align: left;
}
body#heartHealthy div.heartHealthy > ul li {
	font-style: italic;
}


